<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat Room
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- UNDER CONSTRUCTION -->


<ion-content #content [scrollEvents]="true">

   
    <!-- Allows us to use pull down to refresh.-->
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="loadOlderChats($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="no-more-chats-bubble" *ngIf="chatService.doneLoadingChatsObs | async as allChatsLoaded">
      No more chats to load.
    </div>

    <!-- Load chats that were created before the user entered the room.-->
    <div *ngFor="let chat of (chatService.currentChatDataBatchObs | async)" class="message-wrap">
  
      <!-- Automatic message -->
      <div *ngIf="chat.type == 'auto' || chat.type == 'emotion'">
  
        <div *ngIf="chat.type == 'auto'" class="msg-content">
          <p class="auto">{{chat.message}}</p>
        </div>
        <div *ngIf="chat.type == 'emotion'" class="msg-content">
          <p class="emotion">{{chat.message}}</p>
        </div>
      </div>
  
  
      <!-- User message -->
      <div *ngIf="chat.type == 'user' && chat.userID != userProfileID">
        <div class="timestamp  ion-align-self-center" >
          {{ toDate(chat.timestamp) | date:'h:mm a' }}
        </div>
        <div class="message">
          <ion-button class="user-img" fill="clear" (click)="goToProfile(chat.userID, chat.cohort)">
            <img class="user-img" src="{{ chat.profilePic }}" alt="">
          </ion-button>
          <div class="msg-detail">
            <div class="username">
              <p> {{ chat.username }}&nbsp;&nbsp;&nbsp;</p>
            </div>
            <div class="msg-content">
              <span class="triangle"></span>
              <p class="line-breaker ">{{chat.message}}</p>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngIf="chat.type == 'user' && chat.userID == userProfileID">
        <div class="myTimestamp ion-align-self-center">
          {{ toDate(chat.timestamp) | date:'h:mm a' }}
        </div>
        <div class="myMessage">
          <div class="msg-detail">
            <div class="username">
              <p>{{ chat.username }}</p>
            </div>
            <div class="msg-content">
              <span class="triangle"></span>
              <p class="line-breaker ">{{chat.message}}</p>
            </div>
          </div>
          <ion-button class="user-img" fill="clear" (click)="goToProfile(chat.userID, chat.cohort)">
            <img class="user-img" src="{{ chat.profilePic }}" alt="">
          </ion-button>
        </div>
      </div>
  
    </div>

    <!-- Load chats that are new relative to when the user joined the chat room-->
    <div *ngFor="let chat of (chats | async)" class="message-wrap">
      <!-- Automatic message -->
      <div *ngIf="chat.type == 'auto' || chat.type == 'emotion'">
  
        <div *ngIf="chat.type == 'auto'" class="msg-content">
          <p class="auto">{{chat.message}}</p>
        </div>
        <div *ngIf="chat.type == 'emotion'" class="msg-content">
          <p class="emotion">{{chat.message}}</p>
        </div>
      </div>
  
  
      <!-- User message -->
      <div *ngIf="chat.type == 'user' && chat.userID != userProfileID">
        <div class="timestamp  ion-align-self-center" >
          {{ toDate(chat.timestamp) | date:'h:mm a' }}
        </div>
        <div class="message">
          <ion-button class="user-img" fill="clear" (click)="goToProfile(chat.userID, chat.cohort)">
            <img class="user-img" src="{{ chat.profilePic }}" alt="">
          </ion-button>
          <div class="msg-detail">
            <div class="username">
              <p> {{ chat.username }}&nbsp;&nbsp;&nbsp;</p>
            </div>
            <div class="msg-content">
              <span class="triangle"></span>
              <p class="line-breaker ">{{chat.message}}</p>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngIf="chat.type == 'user' && chat.userID == userProfileID">
        <div class="myTimestamp ion-align-self-center">
          {{ toDate(chat.timestamp) | date:'h:mm a' }}
        </div>
        <div class="myMessage">
          <div class="msg-detail">
            <div class="username">
              <p>{{ chat.username }}</p>
            </div>
            <div class="msg-content">
              <span class="triangle"></span>
              <p class="line-breaker ">{{chat.message}}</p>
            </div>
          </div>
          <ion-button class="user-img" fill="clear" (click)="goToProfile(chat.userID, chat.cohort)">
            <img class="user-img" src="{{ chat.profilePic }}" alt="">
          </ion-button>
        </div>
      </div>
    </div>


  
    
</ion-content>

<ion-footer>
  <ion-item>
    <ion-textarea spellcheck="true" autocapitalize="true" [(ngModel)]="chat.message" placeholder="Enter message">
    </ion-textarea>
    <div *ngIf="chat.message == ''">
      <ion-button disabled="true" class="ion-text-button" slot="end" fill="clear" (click)="addChat('user')">
        <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </ion-button>
    </div>
    <div *ngIf="chat.message > ''">
      <ion-button class="ion-text-button" slot="end" fill="clear" (click)="addChat('user')">
        <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </ion-button>
    </div>
  </ion-item>
</ion-footer>