.tag-pop-up{
    padding: 10px;
}


.sc-ion-popover-ios-h{
    --width: 100%;
}

.margin-left{
    margin-left: 15px;
}

.green-text{
    color: #14B704;
}


.red-text{
    color: #B70404;
}

.orange-text{
    color: #F5990E;
}