<div class="tag-pop-up">
  <h4> <strong>Question: "{{questionName}}" </strong> </h4>
  
  <div class="margin-left">
    <h5>User Answers to This Question:</h5>

    <ul>
      <li>
        <span class="green-text">Yes: </span>{{questionInfoObj.yes}}
      </li>

      <li>
        <span class="red-text">No: </span> {{questionInfoObj.no}}
      </li>

      <li>
        <span class="orange-text">Did Not Know: </span> {{questionInfoObj.na}}
      </li>
    </ul>

    <span>{{tagSummary}}</span>
  </div>

</div>