<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-button" defaultHref="/forum"></ion-back-button>
    </ion-buttons>
    <ion-title>Ask A Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="questionForm">
    <ion-item>
      <ion-label position="stacked">Topic:</ion-label>
      <ion-textarea autoGrow="true" spellcheck="true" autocapitalize="true" formControlName="title" placeholder="What are you asking a question about? (ie: parenting, nutrition...)"
        [class.invalid]="!questionForm.controls['title'].valid && questionForm.controls['title'].touched"></ion-textarea>
    </ion-item>
    <ion-item class="error-message" *ngIf="!questionForm.controls['title'].valid && questionForm.controls['title'].touched">
      <ion-label>What are you asking a question about? (ie: parenting, nutrition...)</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Question:</ion-label>
      <ion-textarea autoGrow="true" spellcheck="true" autocapitalize="true" formControlName="description" placeholder="What is your question?"
                    [class.invalid]="!questionForm.controls['description'].valid && questionForm.controls['description'].touched"></ion-textarea>
    </ion-item>
    <ion-item class="error-message" *ngIf="!questionForm.controls['description'].valid && questionForm.controls['description'].touched">
      <ion-label>What is your question?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Ask Anonymously? </ion-label>
      <ion-toggle color="dark" formControlName="anon"></ion-toggle>
    </ion-item>
    <ion-footer *ngIf="!question.id">
      <ion-toolbar>
        <ion-button *ngIf="questionForm.valid" expand="full" class="fill-button" (click)="addQuestion(questionForm)" (click)="sendEmail(questionForm)">
          Post Question
        </ion-button>
        <ion-button *ngIf="!questionForm.valid" disabled="true" expand="full" class="fill-button" (click)="addQuestion(questionForm)" (click)="sendEmail(questionForm)">
          Post Question
        </ion-button>
      </ion-toolbar>
    </ion-footer>

  </form>

</ion-content>

