<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-button" defaultHref="/forum"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="questionForm">
    <ion-item>
      <ion-label position="stacked">Enter Title:</ion-label>
      <ion-textarea autoGrow="true" spellcheck="true" autocapitalize="true" formControlName="title" placeholder="Short title for your question">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Enter Question:</ion-label>
      <ion-textarea autoGrow="true" spellcheck="true" autocapitalize="true" formControlName="description" placeholder="What is your question?">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label> Ask Anonymously? </ion-label>
      <ion-toggle color="dark" formControlName="anon"></ion-toggle>
    </ion-item>
    <ion-footer *ngIf="!question.id">
      <ion-toolbar>
        <ion-button expand="full" class="fill-button" (click)="addQuestion(questionForm)" (click)="sendEmail()">
          Post
        </ion-button>
      </ion-toolbar>
    </ion-footer>

  </form>

</ion-content>

