.error-message {
  min-height: 2.2rem;
  ion-label {
    margin: 2px 0;
    font-size: 60%;
    color: #ff6153;
  }
  .item-inner {
    border-bottom: 0 !important;
  }
}

.ion-left-padding{
  padding-left: 16px;
}

.problem-report-footer-text{
  color: rgb(111, 106, 106);
  margin-top: 20px;
  font-size: 12px;
}
