.ion-text-button {
  --color: var(--main-color);
}

.ion-button-background {
   --background: var(--main-color);
   --background-activated: var(--secondary-color);
   --background-hover: var(--secondary-color);
 }
