form {
  margin-bottom: 32px;
  button {
    margin-top: 20px !important;
  }
}

p {
  font-size: 0.8em;
  color: #d2d2d2;
}

ion-label {
  margin-left: 5px;
}

ion-input {
  padding: 5px;
}

.invalid {
  border-bottom: 1px solid #ff6153;
}

.error-message {
  min-height: 2.2rem;
  ion-label {
    margin: 2px 0;
    font-size: 60%;
    color: #ff6153;
  }
  .item-inner {
    border-bottom: 0 !important;
  }
}

.title {
  text-align: center;
}

.new-to-imatter-btn{
  color: #0e3783;
  font-weight: bolder;
  font-size: 15px;
  white-space: normal;
  overflow: none;
  text-decoration-line: underline;
}

.new-to-imatter-header{
  font-weight: bolder;
  text-align: center;
}

.forgot-pass-btn{
  color: #02041b;
  font-weight: bolder;
  font-size: 14px;
  white-space: normal;
  overflow: none;
}


.new-account-card-thumbnail{
  position: absolute;
  left: 18px;
  top: 13px;
}

.new-account-icon{
  font-size:200%;
}