<ion-header>
  <ion-toolbar>
    <ion-title>iMATter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-text class="title">
  <h4>
    Welcome to iMATter.
  </h4>
</ion-text>

<ion-content *ngIf="this.userAutoLoginSetting == 2" >
  <form [formGroup]="loginForm">
    <ion-item *ngIf="showEmailBox">
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" type="email" value="{{this.storageEmail}}" placeholder="Your email"
              [class.invalid]="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls['email'].valid &&loginForm.controls['email'].touched">
      <ion-label>Please enter your email address.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
              [class.invalid]="!loginForm.controls['password'].valid&& loginForm.controls['password'].touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
      <ion-label>Please enter your password.</ion-label>
    </ion-item>

    <ion-button class="fill-button" (click)="validateUser(loginForm)" expand="block">
      Log In
    </ion-button>
    
    <ion-button padding-vertical class="text-button forgot-pass-btn" expand="block" fill="clear" routerLink="/reset-password">
      Forgot password
    </ion-button>
  </form>

  <ion-card>
    <ion-thumbnail class="new-account-card-thumbnail">
      <!-- Imatter logo -->
      <img src="https://firebasestorage.googleapis.com/v0/b/imatter-nau.appspot.com/o/ProfileImages%2F1588815747889_im_logo.png?alt=media&token=311cc974-d0b0-4175-98e6-47fcca30abfb">
    </ion-thumbnail>

    <ion-card-header>
      <ion-card-title class="new-to-imatter-header">New to iMATter?</ion-card-title>
      <ion-card-subtitle style="text-align:center;">We're Excited to Have You!</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button class="text-button new-to-imatter-btn" expand="block" fill="clear" routerLink="/request-access">
        <span> To Request an Access Code, Click Here </span> <ion-icon class="new-account-icon" style="display:inline; margin-bottom:3px; margin-left: 4px;" name="md-person-add"></ion-icon>
      </ion-button>
    </ion-card-content>
  
    <ion-card-content>
      <ion-button class="text-button new-to-imatter-btn" expand="block" fill="clear" routerLink="/code">
        <span> Click Here if you Have an Access Code</span> <ion-icon class="new-account-icon" style="display:inline; margin-bottom:3px; margin-left: 4px;" name="md-person-add"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>


<ion-content *ngIf="this.userAutoLoginSetting == 1" >

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <!-- Load image from local path defined in login.page.ts -->
          <ion-img [src]= "loadingGifURL" > </ion-img>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-center" > Logging you in. . . </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>