.content {
  padding-left: 18px;
  color: black;
  font-size: 16px;
}

.header {
  padding-left: 18px;
  color: black;
  font-size: 24px;
}

.username {
  font-size: 14px;
  color: #383a3e;

  .comment-type {
    color: var(--main-color);
  }

  .timestamp {
    color: #86888f;
    font-size: 14px;
  }

}



.thumbnail {
  width: 50px;
  height: 50px;

  ion-thumbnail {
    width: 50px;
    height: 50px;

    ion-img {
      width: 50px;
      height: 50px;
    }
  }
}

.thumbnail-anon {
  ion-thumbnail {
    width: 50px;
    height: 50px;

    ion-img {
      width: 50px;
      height: 50px;
    }
  }
}

ion-card{
  width: 100% !important;
}


.error-message {
  min-height: 2.2rem;
  ion-label {
    margin: 2px 0;
    font-size: 60%;
    color: #ff6153;
  }
  .item-inner {
    border-bottom: 0 !important;
  }
}


