<ion-header>
  <ion-toolbar>
    <ion-title>
      Information Desk
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="text-button" defaultHref="/forum"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-item *ngIf="question.timestamp">
    <div>
      <ion-row>
        <div *ngIf="!question.anon" >
          <ion-col size="2.5">
            <ion-button class="thumbnail" fill="clear"  (click)="goToProfile(question.userID, question.id)">
              <ion-thumbnail slot="start">
              <ion-img src="{{ question.profilePic }}"> </ion-img>
              </ion-thumbnail>
            </ion-button>
          </ion-col>
        </div>
          <div *ngIf="question.anon">
              <ion-button class="thumbnail" fill="clear"  disabled="true">
                  <ion-thumbnail slot="start">
                      <ion-img src="{{ question.profilePic }}"> </ion-img>
                  </ion-thumbnail>
              </ion-button>
          </div>
          <ion-col class="username">
            {{ question.username }}
            <ion-row class="timestamp">
            Posted at: {{ question.timestamp.seconds * 1000 | date:'MM-dd-yyyy h:mm:ss a' }}
            </ion-row>
          </ion-col>
      </ion-row>
      <ion-row class="header">
        {{question.title}}
      </ion-row>
      <ion-row>
        <p class="content">
          {{question.description}}
        </p>
      </ion-row>
    </div>
  </ion-item>

  <h6 padding-horizontal> Answers: </h6>

  <ion-list>
    <ion-item lines="none" *ngFor="let answer of (answers | async)">
      <ion-item>
        <div>
        <ion-row>
          <ion-col size="2.5">
            <ion-button class="thumbnail" fill="clear" *ngIf="!answer.anon && answer.type != 'admin'; else elseBlock" (click)="goToProfile(answer.userID, question.id)">
              <ion-thumbnail slot="start">
                <ion-img src="{{ answer.profilePic }}"> </ion-img>
              </ion-thumbnail>
            </ion-button>
            <ng-template #elseBlock>
                <ion-button class="thumbnail" fill="clear" disabled = "true">
                  <ion-thumbnail slot="start">
                    <ion-img src="{{ answer.profilePic }}"> </ion-img>
                  </ion-thumbnail>
                </ion-button>
            </ng-template>
            </ion-col>
          <ion-col class="username">
            <b>{{ answer.username }}</b>
            <ion-row class="comment-type">
              {{ answer.type }}
            </ion-row>
            <ion-row class="timestamp">
            Posted at: {{ answer.timestamp.seconds * 1000 | date:'MM-dd-yyyy h:mm:ss a' }}
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <p class="content">
            {{ answer.input }}
          </p>
        </ion-row>
        </div>
      </ion-item>
    </ion-item>
  </ion-list>

  <ion-button *ngIf="!showAnswerBox" padding-horizontal expand="full" class="fill-button" (click)="displayAnswerBox(); scrollToBottom()">
    Reply
  </ion-button>
  <div *ngIf="showAnswerBox">
    <form [formGroup]="answerForm">
      <ion-item>
        <ion-label position="stacked">Enter Answer:</ion-label>
        <ion-textarea autoGrow="true" spellcheck="true" autocapitalize="true" formControlName="comment" placeholder="What would you like to say?"
                      [class.invalid]="!answerForm.controls['comment'].valid && answerForm.controls['comment'].touched"></ion-textarea>
      </ion-item>
      <ion-item class="error-message" *ngIf="!answerForm.controls['comment'].valid && answerForm.controls['comment'].touched">
        <ion-label>Please enter a message.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Answer Anonymously? </ion-label>
        <ion-toggle color="dark" formControlName="anon"></ion-toggle>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button *ngIf="showAnswerBox" fill="clear" class="text-button" expand="full"  (click)="showAnswerBox = false">
            Cancel </ion-button>
        </ion-col>
        <ion-col>
          <ion-button *ngIf="showAnswerBox" class="fill-button" expand="full"  (click)="addAnswer(answerForm)"> Submit </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
