<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="ion-text-button" defaultHref="/tabs/more"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-list-header> Calendar Settings </ion-list-header>
	<ion-item>
		<ion-label>Notifications Should Send: </ion-label>
			<ion-select [(ngModel)]="eventNotificationTime" (ionChange)= setCalendarEventNotificationTime(eventNotificationTime) id="eventTime" value="0" ok-text="Okay" cancel-text="Dismiss">
			  <ion-select-option value="0">0 minutes before</ion-select-option>
			  <ion-select-option value="15">15 minutes before</ion-select-option>
			  <ion-select-option value="30">30 minutes before</ion-select-option>
			  <ion-select-option value="60">One hour before</ion-select-option>
			</ion-select>
  </ion-item>
  <ion-item>
		<ion-label>Clock Hour Type</ion-label>
			<ion-select [(ngModel)]="clock" (ionChange)= setClockType(clock) id="eventTime" value="0" ok-text="Okay" cancel-text="Dismiss">
			  <ion-select-option value="12">12 hour clock</ion-select-option>
			  <ion-select-option value="24">24 hour clock</ion-select-option>
			</ion-select>
  </ion-item>
  </ion-list>

</ion-content>
