ion-list-header {
  background-color: #ececec;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
}

ion-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.placeholder{
  color: #cccccc;
}

.ion-text-button {
  --color: var(--main-color);
}

.redeem-button {
  --background: var(--main-color);
  --background-activated: var(--secondary-color);
  --background-hover: var(--secondary-color);
  }

.logout {
  color: var(--main-color);
}

ion-icon {
  color: var(--main-color);
}
