ion-list-header {
  background-color: #ececec;
}

.highlight {
  background-color: var(--main-tint);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.emotion-toolbar {

  //--background: #f5f6f9;
  //background-color: #f5f6f9;
  min-height: 0 !important;

  ion-text {
    padding-left: 10px;
    font-weight: bolder;
  }

  ion-col {
    padding: 0;
    margin: 0;
    text-align: center;

    p {
      font-size: 0.6em;
      margin: 0;
    }
  }
}

ion-toolbar {
  --min-height: 0px !important;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
}

ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.placeholder {
  color: #cccccc;
}

.ion-text-button {
  --color: var(--main-color);
}

.redeem-button {
  --background: var(--main-color);
  --background-activated: var(--secondary-color);
  --background-hover: var(--secondary-color);
}

.logout {
  color: var(--main-color);
}

ion-icon {
  color: var(--main-color);
}

.show-mouse-pointer{
  cursor: pointer;
}

#gc-points-prog-bar{
  border-radius: 50px;
  border: 1px solid #0b5f02;
  
  width: 90%;
  height: 18px;
  margin-top: 12px;

  margin-left:auto;
  margin-right:auto;
  
  display: flex;
  justify-content: space-between;
  //overflow: hidden;

  background-color: #6bff7b;
}

.can-redeem-gc-animation{
  animation-name: glowing-border;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.progress-milestone{
  border-right: 1px solid #0b5f02;
  width:100%;
}


.milestone-label{
  position: relative;
  left: 92%;
  top: 20px;
  font-size: 10px;
}

.final-milestone{
  width:100%;
}

.progress-bar-container-height{
  height: 130px;
}

.flex-column-center{
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.no-margin{
  margin:0px;
}

.final-milestone-image{
  position: relative;
  left: 100%;
  bottom: 12px;
  width: 45px;
}

.font-size-18{
  font-size: 18px;
}


.font-size-16{
  font-size: 16px;
}

.redeem-btn{
  margin-left: 15px;
}


@keyframes glowing-border {
  0%   {box-shadow: 0px 0px 0px 0px rgba(29, 252, 0, .7);
        transform: scale(.95);}
  70%   {box-shadow: 0px 0px 0px 15px rgb(0, 0, 0, 0);
         transform: scale(1);}
  100%   {box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          transform: scale(.95);}
}

.edit-profile-pic-btn{
  font-size: 2.8vw;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #2481a3;
  color: white;
  border-radius: 5px;
  padding: 4px 2px 4px 2px;
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
}
