ion-list-header {
  background-color: #ececec;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.placeholder-profile {
  color: #cccccc;
}

.ion-text-button {
  --color: var(--main-color);
}

.redeem-button {
  --background: var(--main-color);
  --background-activated: var(--secondary-color);
  --background-hover: var(--secondary-color);
  }

.logout {
  color: var(--main-color);
}

ion-icon {
  color: var(--main-color);
}
