<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size= 2>
                    <ion-buttons>
                        <!-- 
                            Without a deafult href, the page wont show a back button if the user navigates to the page from a url rather than the UI. Doesnt matter since this is an app
                            but if we were making a mobile site/ app hybrid this is needed. 
                        -->
                        <ion-back-button class="text-button" defaultHref="/tabs/home" [routerLink]="['/tabs/home']">
                        </ion-back-button>
                    </ion-buttons>
                </ion-col>
    
                <ion-col  size= 8>
                    <ion-title>Profile Page</ion-title>
                </ion-col>
    
                <ion-col  size="2">
                    <ion-icon class="show-mouse-pointer" (click)="showSettingsActionSheet()" name="settings" size="large"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
    <ion-toolbar class="emotion-toolbar">

        <ion-row class="ion-justify-content-center">
            <ion-col>
                <!-- Apply the css class .highlight if this users current emotion is happy.-->
                <ion-button [class.highlight]="this.user.currentEmotion == 'happy'" size="small" fill="clear" class="ion-no-padding"
                    (click)="saveEmotion('happy')">
                    😃
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button [class.highlight]="this.user.currentEmotion == 'loved'" size="small" fill="clear" class="ion-no-padding"
                    (click)="saveEmotion('loved')">
                    🥰
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button [class.highlight]="this.user.currentEmotion == 'ok'" size="small" fill="clear" class="ion-no-padding"
                    (click)="saveEmotion('ok')">
                    😐
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button [class.highlight]="this.user.currentEmotion == 'stressed'" size="small" fill="clear" class="ion-no-padding"
                    (click)="saveEmotion('stressed')">
                    😩
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button [class.highlight]="this.user.currentEmotion == 'tired'" size="small" fill="clear" class="ion-no-padding"
                    (click)="saveEmotion('tired')">
                    😴
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button [class.highlight]="this.user.currentEmotion == 'sad'" size="small" fill="clear" class="ion-no-padding"
                    (click)="saveEmotion('sad')">
                    😢
                </ion-button>
            </ion-col>  
            <ion-col>
                <ion-button [class.highlight]="this.user.currentEmotion == 'lonely'" size="small" fill="clear" class="ion-no-padding"
                    (click)="saveEmotion('lonely')">
                    😔
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button [class.highlight]="this.user.currentEmotion == 'angry'" size="small" fill="clear"class="ion-no-padding"
                    (click)="saveEmotion('angry')">
                    😡
                </ion-button>
            </ion-col>
        </ion-row>

    </ion-toolbar>
</ion-header>
<ion-content id="content">
    <ion-grid>
        <div *ngIf="!editingMode">
            <!-- <ion-row>
                <ion-col style="z-index: 2; position: absolute; font-size: 1.2em;">
                    <ion-icon class="ion-float-right ion-padding-horizontal ion-padding-top" name="create"
                        (click)="editProfile()"></ion-icon>
                </ion-col>
            </ion-row> -->
            <ion-row>
                <ion-col size="6">
                    <ion-row>
                        <ion-card>
                            <ion-badge style="z-index: 2; background-color: transparent; position: absolute;">
                                {{ userEmotionIcon }}</ion-badge>
                            <ion-img src="{{ user.profilePic }}" style="position: relative;"></ion-img>
                        </ion-card>
                    </ion-row>
                </ion-col>
                <ion-col size="4">
                    <ion-row>
                        <ion-col>
                            <h1 style="margin: 0; font-size: 2em;">{{ user.username }}</h1>
                            <p style="font-size: 0.8em; margin: 0;">Sobriety Date
                                <br>{{ this.datePipe.transform(this.recoveryDate, 'MMMM d, yyyy') }} </p>
                        </ion-col>
                    </ion-row>
                </ion-col>

                <ion-col class="ion-align-self-start" size="2">
                    <ion-icon (click)="editProfile()" class="show-mouse-pointer" name="create" size="large"></ion-icon>
                </ion-col>

                

            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-title class="ion-padding-horizontal ion-padding-top">About Me:</ion-card-title>
                        <ion-card-content>{{ user.bio }}</ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>

        </div>
        <div *ngIf="editingMode" id="editProfile">

            <ion-row>
                <ion-col size="6">
                    <ion-row>
                        <ion-card *ngIf="!showImages">
                            <ion-badge style="z-index: 2; background-color: transparent; position: absolute;">
                                {{ userEmotionIcon }}</ion-badge>

                            <!-- Show the users profile picture While in editing mode. If they click theyre profile picture we display all profile picture options. -->
                            <ion-img src="{{ previewPic }}" style="position: relative;" (click)="showPics()"></ion-img>
                        </ion-card>
                        <ion-item *ngIf="showImages">
                            <ion-row>
                                <ion-thumbnail class="thumbnail" *ngFor="let pic of allPicURLs"
                                    (click)="changePic(pic)">
                                    <ion-img src="{{pic}}"></ion-img>
                                </ion-thumbnail>
                            </ion-row>
                        </ion-item>
                    </ion-row>
                </ion-col>
                <ion-col size="6">
                    <ion-row>
                        <ion-col>
                            <h1 style="margin: 0; font-size: 2em;">{{ user.username }}</h1>
                            <p style="font-size: 0.8em; margin: 0;">Sobriety Start Date: <br>
                                <ion-item>
                                    <ion-datetime id="newEndRehabDate" value="{{ recoveryDate }}"></ion-datetime>
                                </ion-item>
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-title class="ion-padding-horizontal ion-padding-top">About Me:</ion-card-title>
                        <ion-card-content>
                            <ion-item>
                                <ion-input id="newBio" value="{{ user.bio }}"></ion-input>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>

        </div>
        <ion-row>
            <ion-col class="progress-bar-container-height">
                <div>
                    <h3 class="no-margin"> Points Progress </h3>
                </div>

                <ion-item lines="none">
                    <ion-icon slot="end" name="information-circle" (click)="displayPointInfo()"></ion-icon>
                    Total Points Earned: {{user.points}}
                </ion-item>

                <div id="gc-points-prog-bar" [class.can-redeem-gc-animation]="user.points >= 50">
                    
                    <div class="progress-milestone">
                        <div class="milestone-label">
                            <div class="flex-column-center">
                                <div>
                                    10
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="progress-milestone">
                        <div class="milestone-label">
                            <div class="flex-column-center">
                                <div>
                                    20
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="progress-milestone">
                        <div class="milestone-label">
                            <div class="flex-column-center">
                                <div>
                                    30
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="progress-milestone">
                        <div class="milestone-label">
                            <div class="flex-column-center">
                                <div>
                                    40
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="final-milestone">
                        <div class="flex-column-center">
                            <img class="final-milestone-image" src="../../../../assets/giftcard_icon_rotated.png"/>
                           
                        </div>
                    </div>
                </div>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item lines="none" class="font-size-16">
                    <ng-container *ngIf="canRedeemPoints">
                        Congrats you earned 50 points! Click redeem to get your giftcard!
                    </ng-container>

                    <ng-container *ngIf="!canRedeemPoints">
                        Almost there! Only {{pointsLeftForGC}} more points until you can redeem a giftcard!
                    </ng-container>
                    
                    <ion-button slot="end" class="fill-button redeem-btn" *ngIf="canRedeemPoints"
                        (click)="displayRedeemOptions = true"> Redeem
                    </ion-button>
                </ion-item>

                <div *ngIf="displayRedeemOptions == true">
                    <ion-item>
                        <ion-label position="stacked">Which type of gift card?</ion-label>
                        <ion-select interface="action-sheet" placeholder="Pick a Gift Card" [(ngModel)]="chosenGCType">
                            <ion-select-option *ngFor="let type of gcTypes">
                                {{type}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-button slot="end" class="fill-button"
                        (click)="redeemGiftCard(user.points, pointsForRedemption, chosenGCType, user.email, user.username)">
                        Confirm
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>

        <!-- 
            <ion-button *ngIf="!editingMode" color="success" expand="full" (click)="editProfile()">
                Edit Profile
            </ion-button>
        -->

        <ion-row *ngIf="editingMode">
            <ion-col style="padding: 0;">
                <ion-button color="danger" expand="full" (click)="cancelEdit()">Cancel
                </ion-button>
            </ion-col>
            <ion-col style="padding: 0;">
                <ion-button color="success" expand="full" (click)="saveProfile()">Save
                </ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
    <!--    &lt;!&ndash; Personal User info &ndash;&gt;-->
    <ion-item-divider class="custom-divider" (click)="collapsePersonalInfo = !collapsePersonalInfo">
        <ion-label>
            Account Information
        </ion-label>
        <ion-icon *ngIf="collapsePersonalInfo" name="arrow-dropdown" slot="end" color="black">
        </ion-icon>
        <ion-icon *ngIf="!collapsePersonalInfo" name="arrow-dropup" slot="end" color="black">
        </ion-icon>
    </ion-item-divider>
    <ion-list *ngIf="!collapsePersonalInfo">
        <ion-item>
            <ion-label>
                <ion-grid>
                    <ion-row>
                        <ion-col class="text-left" size="4"> Email</ion-col>
                        <ion-col class="text-center" size="4" *ngIf="user.email">
                            {{user.email}}
                        </ion-col>
                        <ion-col>
                            <ion-icon class="ion-float-right ion-padding-horizontal padding-horizontal" color="black"
                                name="create" (click)="updateEmail()"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <ion-grid>
                    <ion-row>
                        <ion-col class="text-left" size="4"> Password</ion-col>
                        <ion-col size="4" class="placeholder text-center"> Hidden</ion-col>
                        <ion-col>
                            <ion-icon class="ion-float-right ion-padding-horizontal padding-horizontal" color="black"
                                name="create" (click)="updatePassword()"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <ion-grid>
                    <ion-row>
                        <ion-col class="text-left" size="4"> Zip Code</ion-col>
                        <ion-col class="text-center" size="4" *ngIf="user.email">
                            {{user.location}}
                        </ion-col>
                        <ion-col size="6" class="placeholder text-center" *ngIf="!user.location">
                            Not Provided
                        </ion-col>
                        <ion-col>
                            <ion-icon class="ion-float-right ion-padding-horizontal padding-horizontal" color="black"
                                name="create" (click)="updateLocation()"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>