<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  class="text-button" defaultHref="/tabs/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Profile Page</ion-title>
    <ion-buttons slot="end">
      <ion-button class="logout" (click) = "updateLogOut()" (click)="logOut()" >
        Log Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none">
        <ion-icon name="information-circle" (click)="displayPointInfo()"> </ion-icon>
        Points Earned: {{user.points}}
        <ion-button slot="end" class="fill-button" *ngIf="canRedeemPoints" (click)="displayRedeemOptions = true"> Redeem </ion-button>
    </ion-item>

    <div *ngIf="displayRedeemOptions == true">
        <ion-item>
            <ion-label position="stacked">Which type of gift card?</ion-label>
            <ion-select interface="action-sheet" placeholder="Pick a Gift Card" [(ngModel)]="chosenGCType">
                <ion-select-option *ngFor="let type of gcTypes">
                    {{type}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button slot="end" class="fill-button" (click)="redeemGiftCard(user.points, pointsForRedemption, chosenGCType, user.email, user.username)"> Confirm </ion-button>
    </div>


    <!-- Viewable profile to all users -->
    <ion-card>
        <ion-img src="{{ user.profilePic }}"></ion-img>
        <ion-card-title padding-horizontal>
            {{ user.username }}
        </ion-card-title>
        <ion-card-subtitle padding-horizontal>
            Due in: {{ user.cohort }}
        </ion-card-subtitle>
        <ion-card-subtitle padding-horizontal>
            Currently feeling: {{ user.currentEmotion }}
        </ion-card-subtitle>

        <ion-card-content (click)="updateBio()">
            <b>Bio (Tap to Edit): </b><br>
            {{ user.bio }}
        </ion-card-content>
    </ion-card>

    <!-- Personal User info -->
  <ion-list>
    <ion-list-header> Personal Information (Tap to Edit) </ion-list-header>
    <ion-item (click)="updateEmail()">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="5"> Email </ion-col>
            <ion-col class="text-center" size="7" *ngIf="user.email">
              {{user.email}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>

    <ion-item (click)="updatePassword()">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="5"> Password </ion-col>
            <ion-col size="7" class="placeholder text-center"> Hidden</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>

      <ion-item (click)="updateLocation()">
          <ion-label>
              <ion-grid>
                  <ion-row>
                      <ion-col class="text-left" size="5"> Zip Code </ion-col>
                      <ion-col class="text-center" size="7" *ngIf="user.email">
                          {{user.location}}
                      </ion-col>
                      <ion-col size="7" class="placeholder text-center" *ngIf="!user.location">
                      Not Provided
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
