.chat-notif-style{
    position:absolute;
    left: 10%;
    top: 10%;
    
    background-color: #1A5773;
    border: 1px solid #888a91;
    border-radius: 8px;
    opacity: .8;
  
    text-align: center;
    width: 80%;
    color: white;
   
    /*
    animation-name: fade-auto-msg;
    animation-timing-function:  ease-out;
    animation-fill-mode: both;
    animation-duration: 6s;    
   */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:55px;
    

    font-size: 14px;
  }

  .main-chat-notif-area{
    flex-shrink:0;
    flex-grow: 1;
    margin-left: 6px;
    margin-right: 6px;
    width: 80%;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .chat-notif-close{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:red;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 20%;
  }

  .center-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-margins{
    margin:0px;
  }
  
  @keyframes fade-auto-msg {
      0% { opacity: 1; top:-5%;}
      10% { opacity: 1; top:5%;}
      80% { opacity: 1;top:5%;}
      100% { opacity: 0;top:-5%;}
  }

  @keyframes close-message {
    0% { opacity: 1; top: 5%;}
    100% { opacity: 0; top:-5%;}
}
  
  
  .sub-text{
    font-size: 10px;
  }


  .user-name-text-box{
    display: inline-block;
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

