.chat-notif-style{
    position:absolute;
    left: 10%;
    
    background-color: #1A5773;
    border: 1px solid #888a91;
    border-radius: 8px;
    opacity: .8;
  
    text-align: center;
    width: 80%;
    color: white;
   
    animation-name: fade-auto-msg;
    animation-duration: 8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  
  }
  
  @keyframes fade-auto-msg {
      0% { opacity: 1; top:-5%;}
      10% { opacity: 1; top:2%;}
      100% { opacity: 0; top:2%;}
  }
  
  
  .sub-text{
    font-size: 10px;
  }