<ion-header>
  <ion-toolbar>
    <ion-title>
      Info Desk
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="ion-text-button" defaultHref="/tabs/more"></ion-back-button>
    </ion-buttons>
    <ion-buttons  slot="end">
      <ion-button class="create-post-button"  routerLink="/forum/forum-deatails">Create Post</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item  button [routerLink]="['/forum/forum-thread', question.id]" *ngFor="let question of (questions | async)">
      {{ question.title }}
      <ion-icon md="md-arrow-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
