<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="text-button" defaultHref="/tabs/more"></ion-back-button>
        </ion-buttons>
        <ion-title>Resources Tests</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content>
    <div class="split pane1">
        <div #mapElement class="map">
        </div>
    </div>
    <div class="split pane2 list">
        <ion-row id="viewPicker">
            <ion-col style="padding: 0">
                <ion-buttons id="listPicker" class="text-button selected" style="justify-content: center">
                    <ion-button class="text-button" [routerLink]="['./suggestions']">
                        Click to leave a suggestion
                        <ion-icon name="add-circle-outline" style="text-align: left"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="7">

                <!-- Searchbar for resources -->
                <ion-searchbar *ngIf="!iosPlatform" (ionInput)="filterResources($event)" class="ion-no-padding rounded-corners"> </ion-searchbar>
                
                
                <!-- Searchbar for resources -->
                <ion-searchbar *ngIf="iosPlatform"  mode="ios" (ionInput)="filterResources($event)" class="ion-no-padding rounded-corners"> </ion-searchbar>
                  
            </ion-col>
            <ion-col size="5">

                <ion-select id="filterValue" value="all" okText="Apply" cancelText="Dismiss" (ionChange)="filter()" class="rounded-corners">
                    <ion-select-option class="filter-option-all" value="all">All</ion-select-option>
                    <ng-container *ngFor="let type of locationTypes; let i = index">
                        <ion-select-option [value]=type>{{type}}</ion-select-option>
                    </ng-container>
                </ion-select>

            </ion-col>
        </ion-row>
        <ion-list id="locationList">
            <ion-item *ngFor="let location of filteredList" class="locationItem">
                <div (click)="moveToLocation(location.latitude, location.longitude)">
                    {{ location.title }}
                    <div style="font-size: .7em; color: var(--secondary-color)">
                        {{location.cityState}}
                        {{(location.distance * 0.000621371).toPrecision(2)}} mi
                    </div>
                </div>
                <ion-icon [routerLink]="['./', location.id]" name="arrow-forward" slot="end"></ion-icon>
            </ion-item>
        </ion-list>
    </div>
</ion-content>