<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="text-button" defaultHref="/tabs/more"></ion-back-button>
        </ion-buttons>
        <ion-title>Resources Test</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content>
    <div class="split pane1">
        <div #mapElement class="map">
        </div>
    </div>
    <div class="split pane2 list">

        <ion-row id="viewPicker">
            <ion-col style="padding: 0">
                <ion-buttons id="listPicker" class="text-button selected" style="justify-content: center">
                    <ion-button class="text-button" [routerLink]="['./suggestions']">
                        Click to leave a suggestion
                        <ion-icon name="add-circle-outline" style="text-align: left"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>
        <ion-list id="locationList">
        </ion-list>
    </div>
</ion-content>



