

  .primary-color {
    background-color: var(--main-color);
  }


  .event-button {
    border-color: var(--main-color);
    outline-color: var(--main-color);
  }

  .ion-button-background {
    color: #ffffff;
    --background: var(--main-color);
    --background-activated: var(--main-color);
    --background-hover: var(--secondary-color);
  }

  .text-press {
    color: var(--main-color);
  }

  ion-icon {
    color: var(--main-color);
  }

  .noHighlight{
    --background: var(--secondary-color);
  }


ion-card {
  --border-top: 3px var(--main-color);
  --border-left: 3px var(--main-color);
  --border-right: 3px var(--main-color);
  --border-bottom: 3px var(--main-color);
}

div.test {
  position: absolute;
  top: 150px;
  right: center;
  z-index: 2;
}

div.edit {
  position: absolute;
  top: 150px;
  right: center;
  z-index: 2;

}

div.button {
  position: absolute;
  top: 300px;
  right: 125px;
  z-index: 0;
}

div.addEvent {
  z-index: 1;
}


[_nghost-pyt-c4] > div[_ngcontent-pyt-c4] {

}
div.monthview-container {
 height: 60%
}

p{
	color: #9370DB;
	text-align: center;
}

[_nghost-qei-c4]>div[_ngcontent-qei-c4] { height: 60%; }
