<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button class="text-press" (click)="getAmpm()" (click)="showAddEvent = true" (click)="isTwelveHour">Add Event</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="text-press"  (click)="today()">Today</ion-button>
	  <ion-button class="text-press"  href="/calendar-settings">Settings</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class = "addEvent">
  <!-- Card for adding a new event -->
  <ion-item *ngIf="!isTwelveHour">
  <ion-item *ngIf="showAddEvent">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Add New Event</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Description" [(ngModel)]="event.desc"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Start</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>End</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>All Day?</ion-label>
          <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
        </ion-item>
        <ion-button fill="outline" color="important" class=event-button (click)="showAddEvent = false" > Cancel </ion-button>
        <ion-button fill="outline" class=event-button (click)="addEvent()" [disabled]="event.title == ''">Add Event</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>
  </ion-item>
  
  <ion-item *ngIf="isTwelveHour">
  <ion-item *ngIf="showAddEvent">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Add New Event</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Description" [(ngModel)]="event.desc"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Start</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY hh:mm" pickerFormat="MMM D:hh:mm" [(ngModel)]="event.startTime" ></ion-datetime>
        </ion-item>
		<ion-item>
		 <ion-label>AM or PM?</ion-label>
		<ion-select [(ngModel)]="event.AMPM" ok-text="Okay" cancel-text="cancel">
			  <ion-select-option value="am">am</ion-select-option>
			  <ion-select-option value="pm">pm</ion-select-option>
		  </ion-select>
		  </ion-item>
        <ion-item>
          <ion-label>End</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY hh:mm" pickerFormat="MMM D:hh:mm" [(ngModel)]="event.endTime" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>All Day?</ion-label>
          <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
        </ion-item>
        <ion-button fill="outline" color="important" class=event-button (click)="showAddEvent = false" > Cancel </ion-button>
        <ion-button fill="outline" class=event-button (click)="addEvent()" [disabled]="event.title == ''">Add Event</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>
  </ion-item>
  </div>

  <ion-row>
    <!-- Change the displayed calendar mode -->
    <ion-col size="4">
      <ion-button class="fill-button" expand="block" [class.noHighlight]="calendar.mode != 'month'" (click)="changeMode('month')">Month</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button class="fill-button" expand="block" [class.noHighlight]="calendar.mode != 'week'" (click)="changeMode('week')">Week</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button class="fill-button" expand="block" [class.noHighlight]="calendar.mode != 'day'" (click)="changeMode('day')">Day</ion-button>
    </ion-col>

    <!-- Move back one screen of the slides -->
    <ion-col size="6" text-left>
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="6" text-right>
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"  ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  
  
  <!-- Card for editing event -->
  <div class = "test">
  <ion-item *ngIf="showEditEvent">
   <ion-item *ngIf="!isTwelveHour">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Edit Event</ion-card-title>
		<ion-card-title color="danger">Re-enter event information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
		
          <ion-input type="text" placeholder="Title" [(ngModel)]="event.title" name="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Description" [(ngModel)]="event.desc"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Start</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY hh:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>End</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY hh:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" name="desc"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>All Day?</ion-label>
          <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
        </ion-item>
        <ion-button fill="outline" color="important" class=event-button (click)="showEditEvent = false" (click)="editCancelled()" > Cancel </ion-button>
        <ion-button fill="outline" class=event-button (click)="addEvent()" (click)="deleteOrCancelEvent(true)" (click)="showEditEvent = false" [disabled]="event.title == ''">Add Edits</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>
  </ion-item>
  </div>
  
  <div class = "edit">	 
  <ion-item *ngIf="showEditEvent">
   <ion-item *ngIf="isTwelveHour">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Edit Event</ion-card-title>
		<ion-card-title color="danger">Re-enter event information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"  name="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Description" [(ngModel)]="event.desc" name="desc"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Start</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY hh:mm" pickerFormat="MMM D:hh:mm" [(ngModel)]="event.startTime"></ion-datetime>
        </ion-item>
		<ion-item>
		 <ion-label>AM or PM?</ion-label>
		<ion-select [(ngModel)]="event.AMPM" ok-text="Okay" cancel-text="cancel">
			  <ion-select-option value="am">am</ion-select-option>
			  <ion-select-option value="pm">pm</ion-select-option>
		  </ion-select>
		  </ion-item>
        <ion-item>
          <ion-label>End</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY hh:mm" pickerFormat="MMM D:hh:mm" [(ngModel)]="event.endTime"  ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>All Day?</ion-label>
          <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
        </ion-item>
        <ion-button fill="outline" color="important" class=event-button (click)="showEditEvent = false" (click)="editCancelled()"  > Cancel </ion-button>
        <ion-button fill="outline" class=event-button (click)="addEvent()" [disabled]="event.title == ''" (click)="showEditEvent = false">Add Event</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>
  </ion-item>
  
  </div>
  
  <ng-template #monthviewDefaultEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
  <p>Events</p>
            <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false" (click)="addEventDay(selectedDate)" >
                <ion-item *ngFor="let event of selectedDate?.events" (click)="onEventSelected(event)">
                        
                    <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">All day</span>
                    <span class="event-detail">  {{event.title}}   |   click to view, edit or delete</span>
                </ion-item>
                <ion-item *ngIf="selectedDate?.events.length==0">
                    <div class="no-events-label">{{noEventsLabel}}</div>
                </ion-item>
            </ion-list>
        </ng-template>
    

  <calendar
          [eventSource]="eventSource"
          [calendarMode]="calendar.mode"
          [currentDate]="calendar.currentDate"
		  [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate"	  
          (onEventSelected)="onEventSelected($event)"
          (onTitleChanged)="onViewTitleChanged($event)"
          (onTimeSelected)="onTimeSelected($event)"
		  (dblclick)="clickedCalendar()"
          startHour="6"
          endHour="20"
          step="30"
          startingDayWeek="1">
		  
		  
		  
		  
  </calendar>
  
	


</ion-content>

