

  .primary-color {
    background-color: var(--main-color);
  }


  .event-button {
    border-color: var(--main-color);
    outline-color: var(--main-color);
  }

  .ion-button-background {
    --background: var(--main-color);
    --background-activated: var(--main-color);
    --background-hover: var(--secondary-color);
  }

  .text-press {
    color: var(--main-color);
  }

  ion-icon {
    color: var(--main-color);
  }

  .noHighlight{
    --background: var(--secondary-color);
  }



