


 :host ::ng-deep .monthview-current { 
 background-color: #d2b2e5 !important; 
 color: white !important; 
 border-top: 3px solid blue !important; 
 border-left: 3px solid blue !important;
  border-right: 3px solid blue !important;
  border-bottom: 3px solid blue !important
  }
  
  
  
  .primary-color {
    background-color: var(--main-color);
  }
  
  
  :host ::ng-deep .monthview-primary-with-event { background-color: #cec1e7 !important; color: white !important; }
  
  :host ::ng-deep .monthview-selected { background-color: #9370DB !important;}
  
:host ::ng-deep .weekview-normal-event-container {
position: relative;
}

:host ::ng-deep .dayview-normal-event-container {
position: relative;
}
:host ::ng-deep .weekview-normal-event-container {
position: relative;
}

:host ::ng-deep .dayview-normal-event-container {
position: relative;
}

  .event-button {
    border-color: var(--main-color);
    outline-color: var(--main-color);
  }

  .ion-button-background {
    color: #ffffff;
    --background: var(--main-color);
    --background-activated: var(--main-color);
    --background-hover: var(--secondary-color);
  }

  .text-press {
    color: var(--main-color);
  }

  ion-icon {
    color: var(--main-color);
  }

  .noHighlight{
    --background: var(--secondary-color);
  }


ion-card {
  border-top: 3px solid #9370DB;
  border-left: 3px solid #9370DB;
  border-right: 3px solid #9370DB;
  border-bottom: 3px solid #9370DB;
}

div.test {
  position: absolute;
  top: 150px;
  right: center;
  z-index: 2;
}

div.edit {
  position: absolute;
  top: 150px;
  right: center;
  z-index: 2;

}

div.button {
  position: absolute;
  top: 300px;
  right: 125px;
  z-index: 0;
}

div.addEvent {
  z-index: 1;
}


[_nghost-pyt-c4] > div[_ngcontent-pyt-c4] {

}
div.monthview-container {
 height: 60%
}



p{
	color: #9370DB;
	text-align: center;
}

[_nghost-qei-c4]>div[_ngcontent-qei-c4] { height: 60%; }
