<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-button" defaultHref="/tabs/more/resources"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Create New Review</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col>
        <h4> Create a Review for {{resource.title}} </h4>
      </ion-col>

    </ion-row>
      
    <ion-row>

      <ion-col>
          <div id="review-card-star-container" class="dis-flex" >
            <ion-icon id="star-1" [attr.name]="rating_array[0] ? 'star' : 'star-outline'" size="large" (click)="updateRatingStars(0)"></ion-icon>
            <ion-icon id="star-2" [attr.name]="rating_array[1] ? 'star' : 'star-outline'" size="large" (click)="updateRatingStars(1)"></ion-icon>
            <ion-icon id="star-3" [attr.name]="rating_array[2] ? 'star' : 'star-outline'" size="large" (click)="updateRatingStars(2)"></ion-icon>
            <ion-icon id="star-4" [attr.name]="rating_array[3] ? 'star' : 'star-outline'" size="large" (click)="updateRatingStars(3)"></ion-icon>
            <ion-icon id="star-5" [attr.name]="rating_array[4] ? 'star' : 'star-outline'" size="large" (click)="updateRatingStars(4)"></ion-icon>
          </div>      
      </ion-col>

    </ion-row>

      <ion-col>
        <input id="star-rating-input" name="star-rating-input" type="hidden">

        <ion-textarea id="user-review-text-area" name="user-review" placeholder="Type your review here!" class="round-grey-border" ></ion-textarea>
      </ion-col>

    <ion-row>
      <ion-col>
        <label for="name">Name: </label>
        <input id="name" type="text" [formControl]="name">
      </ion-col>
    </ion-row>

  </ion-grid>
  


</ion-content>
