<ion-header>
  <ion-toolbar>
    <ion-title>Available Surveys</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="text-button" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-divider class="custom-divider">
      <ion-label>
        Available Surveys
      </ion-label>
    </ion-item-divider>
    
    <ng-container *ngFor="let survey of (surveys | async)">
      
      <ion-card button class="cardDefault" [class.cardHighlighted]="isHighlight(survey)"
      *ngIf="isDisplayed(survey) == true" (click)="answerSurvey(survey)">
        <div *ngIf="!isComplete(survey)">
          <ion-card-header>
  
            <ion-card-title>
              {{ survey.title }}
            </ion-card-title>
  
            <ion-card-content>
              {{ survey.surveyDescription }}
            </ion-card-content>
  
            <ion-card-subtitle>
              Points: {{ survey.pointsWorth }}
  
              <div *ngIf="isComplete(survey)">
                <strong>Completed</strong>
              </div>
            </ion-card-subtitle>
            
        </ion-card-header>
        </div>
      
      </ion-card>
    </ng-container>

    <ion-item-divider class="custom-divider">
      <ion-label>
        Completed Surveys
      </ion-label>
    </ion-item-divider>

    <ng-container *ngFor="let survey of (surveys | async)">
      <ion-card button *ngIf="isDisplayed(survey) == true" (click)="answerSurvey(survey)">
        
        <div *ngIf="isComplete(survey)">
          <ion-card-header>
  
            <ion-card-title>
              {{ survey.title }}
            </ion-card-title>
  
            <ion-card-content>
              {{ survey.surveyDescription }}
            </ion-card-content>
  
            <ion-card-subtitle>
              Points: {{ survey.pointsWorth }}
  
              <div>
                <strong>Completed</strong>
              </div>
            </ion-card-subtitle>
          </ion-card-header>
        </div>
  
        </ion-card>
    </ng-container>

  </ion-list>

</ion-content>
