<ion-tabs>
  
  <!-- We use this component to globally display notifications throughout the app. Putting this 
       component inside the app.component.html file wont work because the ionic router 
      greedily takes up all visible screen space -->
  <app-global-chat-notifications></app-global-chat-notifications>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="updateHomeClicks()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" (click)="updateChatClicks()">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="habits" (click)="updateChallengeClicks()">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Challenges</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more" (click)="updateMoreClicks()">
      <ion-icon name="menu"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>