// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #2481A3;
  --ion-color-primary-rgb: 36,129,163;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #20728f;
  --ion-color-primary-tint: #3a8eac;

  --ion-color-secondary: #99A8B2;
  --ion-color-secondary-rgb: 153,168,178;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #87949d;
  --ion-color-secondary-tint: #a3b1ba;

  --ion-color-tertiary: #15455C;
  --ion-color-tertiary-rgb: 21,69,92;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #123d51;
  --ion-color-tertiary-tint: #2c586c;

  --ion-color-success: #15C25C;
  --ion-color-success-rgb: 21,194,92;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #12ab51;
  --ion-color-success-tint: #2cc86c;

  --ion-color-warning: #DDC239;
  --ion-color-warning-rgb: 221,194,57;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #c2ab32;
  --ion-color-warning-tint: #e0c84d;

  --ion-color-danger: #E03B3B;
  --ion-color-danger-rgb: 224,59,59;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c53434;
  --ion-color-danger-tint: #e34f4f;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;
  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;
  --ion-toolbar-background: #0d0d0d;
  --ion-item-background: #1c1c1c;
  --ion-item-background-activated: #313131;
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body {
  --ion-background-color: #FFFCFF;
  --ion-background-color-rgb: 255,252,255;
  --ion-text-color: #262B2B;
  --ion-text-color-rgb: 38,43,43;
  --ion-color-step-50: #f4f2f4;
  --ion-color-step-100: #e9e7ea;
  --ion-color-step-150: #dedddf;
  --ion-color-step-200: #d4d2d5;
  --ion-color-step-250: #c9c8ca;
  --ion-color-step-300: #bebdbf;
  --ion-color-step-350: #b3b3b5;
  --ion-color-step-400: #a8a8aa;
  --ion-color-step-450: #9d9ea0;
  --ion-color-step-500: #939495;
  --ion-color-step-550: #88898a;
  --ion-color-step-600: #7d7f80;
  --ion-color-step-650: #727475;
  --ion-color-step-700: #676a6b;
  --ion-color-step-750: #5c5f60;
  --ion-color-step-800: #515555;
  --ion-color-step-850: #474a4b;
  --ion-color-step-900: #3c4040;
  --ion-color-step-950: #313536;
}

.md body.dark {
  --ion-background-color: #262B2B;
  --ion-background-color-rgb: 38,43,43;
  --ion-text-color: #FFFCFF;
  --ion-text-color-rgb: 255,252,255;
  --ion-color-step-50: #313536;
  --ion-color-step-100: #3c4040;
  --ion-color-step-150: #474a4b;
  --ion-color-step-200: #515555;
  --ion-color-step-250: #5c5f60;
  --ion-color-step-300: #676a6b;
  --ion-color-step-350: #727475;
  --ion-color-step-400: #7d7f80;
  --ion-color-step-450: #88898a;
  --ion-color-step-500: #939495;
  --ion-color-step-550: #9d9ea0;
  --ion-color-step-600: #a8a8aa;
  --ion-color-step-650: #b3b3b5;
  --ion-color-step-700: #bebdbf;
  --ion-color-step-750: #c9c8ca;
  --ion-color-step-800: #d4d2d5;
  --ion-color-step-850: #dedddf;
  --ion-color-step-900: #e9e7ea;
  --ion-color-step-950: #f4f2f4;
}

ion-title.title-large {
  --color: white;
}

/** Ionic CSS Variables **/
//:root {
//  /** primary **/
//  --ion-color-primary: #3880ff;
//  --ion-color-primary-rgb: 56, 128, 255;
//  --ion-color-primary-contrast: #ffffff;
//  --ion-color-primary-contrast-rgb: 255, 255, 255;
//  --ion-color-primary-shade: #3171e0;
//  --ion-color-primary-tint: #4c8dff;
//
//  /** secondary **/
//  --ion-color-secondary: #0cd1e8;
//  --ion-color-secondary-rgb: 12, 209, 232;
//  --ion-color-secondary-contrast: #ffffff;
//  --ion-color-secondary-contrast-rgb: 255, 255, 255;
//  --ion-color-secondary-shade: #0bb8cc;
//  --ion-color-secondary-tint: #24d6ea;
//
//  /** tertiary **/
//  --ion-color-tertiary: #7044ff;
//  --ion-color-tertiary-rgb: 112, 68, 255;
//  --ion-color-tertiary-contrast: #ffffff;
//  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
//  --ion-color-tertiary-shade: #633ce0;
//  --ion-color-tertiary-tint: #7e57ff;
//
//  /** success **/
//  --ion-color-success: #10dc60;
//  --ion-color-success-rgb: 16, 220, 96;
//  --ion-color-success-contrast: #ffffff;
//  --ion-color-success-contrast-rgb: 255, 255, 255;
//  --ion-color-success-shade: #0ec254;
//  --ion-color-success-tint: #28e070;
//
//  /** warning **/
//  --ion-color-warning: #ffce00;
//  --ion-color-warning-rgb: 255, 206, 0;
//  --ion-color-warning-contrast: #ffffff;
//  --ion-color-warning-contrast-rgb: 255, 255, 255;
//  --ion-color-warning-shade: #e0b500;
//  --ion-color-warning-tint: #ffd31a;
//
//  /** danger **/
//  --ion-color-danger: #f04141;
//  --ion-color-danger-rgb: 245, 61, 61;
//  --ion-color-danger-contrast: #ffffff;
//  --ion-color-danger-contrast-rgb: 255, 255, 255;
//  --ion-color-danger-shade: #d33939;
//  --ion-color-danger-tint: #f25454;
//
//  /** dark **/
//  --ion-color-dark: #222428;
//  --ion-color-dark-rgb: 34, 34, 34;
//  --ion-color-dark-contrast: #ffffff;
//  --ion-color-dark-contrast-rgb: 255, 255, 255;
//  --ion-color-dark-shade: #1e2023;
//  --ion-color-dark-tint: #383a3e;
//
//  /** medium **/
//  --ion-color-medium: #989aa2;
//  --ion-color-medium-rgb: 152, 154, 162;
//  --ion-color-medium-contrast: #ffffff;
//  --ion-color-medium-contrast-rgb: 255, 255, 255;
//  --ion-color-medium-shade: #86888f;
//  --ion-color-medium-tint: #a2a4ab;
//
//  /** light **/
//  --ion-color-light: #f4f5f8;
//  --ion-color-light-rgb: 244, 244, 244;
//  --ion-color-light-contrast: #000000;
//  --ion-color-light-contrast-rgb: 0, 0, 0;
//  --ion-color-light-shade: #d7d8da;
//  --ion-color-light-tint: #f5f6f9;
//}

