.width-50{
    width: 50%;
}

.round-grey-border{
    border: 1px solid #caccd1;
    border-radius: 5px;
}

.pad-entire-page{
    padding: 12px;
}

.font-18{
    font-size: 18px;
}

.bold-text{
    font-weight: 1000;
}

.light-text{
    font-weight: 100;
}

.question-container{
    margin-bottom: 20px;
}

.indent-right{
    margin-left: 10px;
}