<ion-header>
    <ion-toolbar>
        <ion-title>{{challenge.title}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button class="text-button" defaultHref="/tabs"></ion-back-button>

        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="joined && dayComplete" color="success tint">
        <ion-card-title class="ion-padding ion-text-center" style="color: white">
            Task Complete! Check back tomorrow.
        </ion-card-title>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-card>
                <ion-card-content *ngIf="challenge.coverPicture != ''" style="padding:0; align-content: center;">
                    <ion-img src="{{challenge.coverPicture}}"></ion-img>
                </ion-card-content>
            </ion-card>
        </ion-row>

        <ion-row>
            <ion-card style="width: 100%">
                <ion-card-title class="ion-padding">Description</ion-card-title>
                <ion-card-content style="padding-top: 0">
                    <ion-row style="color: var(--secondary-color)">
                        {{challenge.description}}<br>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div style="padding-top: 10px">Type: {{challenge.type}}</div>
                        </ion-col>
                        <ion-col>
                            <div style="padding-top: 10px">Minimum Days: {{challenge.length}}</div>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
    <ion-item style="padding-top: 15px">
        <ion-title class="ion-text-center">Tasks to Complete</ion-title>
    </ion-item>
    <ion-list>
        <ng-container *ngFor="let task of challenge.contents; let i = index">
            <ion-card (click)="expand($event.target)">
                <ion-card-title class="ion-padding" style="background-color: var(--ion-color-tertiary);
                                color: whitesmoke">
                    Day {{i+1}}: {{task.title}}
                    <div class="ion-float-right" *ngIf="joined">
                        <ion-icon *ngIf="i == daysCompleted && !dayComplete" name="arrow-dropdown"
                            style="color: var(--ion-color-success)"></ion-icon>
                        <ion-icon *ngIf="i < daysCompleted" name="checkbox" style="color: var(--ion-color-success)">
                        </ion-icon>
                    </div>

                </ion-card-title>
                <ion-card-subtitle class="ion-hide ion-padding">{{task.activity}}

                </ion-card-subtitle>
                <ion-card-content class="ion-hide">
                    <ion-row *ngIf="task.benefits[0] != ''">
                        Benefits:
                        <ng-container *ngFor="let benefit of task.benefits">
                            <ion-item class="taskItem">{{benefit}}</ion-item>
                        </ng-container>
                    </ion-row>
                    <ion-row *ngIf="task.tips[0] != ''">
                        Tips:
                        <ng-container *ngFor="let tip of task.tips">
                            <ion-item *ngIf="!urls.includes(tip)" class="taskItem">{{tip}}</ion-item>
                            <ion-item *ngIf="urls.includes(tip)" class="taskItem url"
                                (click)="this.inAppBrowser.create(tip).show();">
                                <u>{{tip}}</u>
                            </ion-item>
                        </ng-container>
                    </ion-row>
                    <ion-row>
                        <div class="ion-float-right" *ngIf="joined">
                            DONE
                            <ion-icon *ngIf="i == daysCompleted && !dayComplete" name="square-outline" id="{{i}}"
                                style="color: var(--ion-color-success)" (click)="completeDay(challenge.id, i)"
                                class="icon"></ion-icon>
                            <ion-icon *ngIf="i < daysCompleted" name="checkbox" style="color: var(--ion-color-success)">
                            </ion-icon>
                        </div>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ng-container>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button *ngIf="!joined" color="success" expand="full" (click)="joinChallenge(challenge.id)">Join Challenge
        </ion-button>
        <ion-button *ngIf="joined" color="danger" expand="full" (click)="quitChallenge(challenge.id)">Quit Challenge
        </ion-button>
    </ion-toolbar>
</ion-footer>