ion-grid, ion-col, ion-row {
  padding: 0;
}

.taskItem {
  --color: var(--ion-color-step-550,#737373);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}
