<ion-header>
  <ion-toolbar>
    <ion-title>{{ survey.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="text-button" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- If the survey is not completed, opens the webpage containing the Survey -->
  <div *ngIf="!isComplete()">
    
    <ion-button expand="block" class="fill-button" (click)="openPage(survey.surveyLink)">
      Take Survey
    </ion-button>

  </div>
  
  <!-- If the survey is completed, tells the user that it is completed -->
  <div *ngIf="isComplete()">

    <h1>You have already taken this survey</h1>
    
  </div>

</ion-content>
