<ion-header>
  <ion-toolbar>
    <ion-title>{{ survey.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="text-button" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!isComplete()">
    <ion-button expand="block" class="fill-button" (click)="openPage(survey.surveyLink)">Take Survey</ion-button>
    <ion-button expand="block" class="fill-button" (click)="presentAlert()">Show Message</ion-button>
  </div>
  
  <div *ngIf="isComplete()">
    <h1>You have already taken this survey</h1>
  </div>



</ion-content>
