<ion-header>
  <ion-toolbar>
    <ion-title>Complete Survey</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="text-button" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- If the survey is not completed, opens the webpage containing the Survey -->
  <div *ngIf="!isComplete()">
    <ion-card>
      <ion-card-title class="ion-padding">
        {{survey.title}}
      </ion-card-title>
      <ion-card-subtitle class="ion-padding">
        {{survey.description}}
      </ion-card-subtitle>
      <ion-card-content>
        This survey is worth {{survey.points}} points
      </ion-card-content>
    </ion-card>


  </div>

  <!-- If the survey is completed, tells the user that it is completed -->
  <div *ngIf="isComplete()">

    <h1>You have already taken this survey</h1>

  </div>

</ion-content>
<ion-footer *ngIf="!isComplete()">
  <p id="instructions" class="ion-padding-horizontal">
    Click "Take Survey" to be directed to the survey. This survey cannot be saved and resumed later. Please be
    prepared to complete the survey once clicking the button. Your input is greatly appreciated so thank you for taking
    this time to answer all questions thoughtfully.
  </p>
  <ion-button expand="block" class="fill-button" (click)="openPage(survey.link)">
    Take Survey
  </ion-button>
</ion-footer>