ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.noHighlight {
  opacity: 50%;
}

.emotion-toolbar {
  --background: #f5f6f9;
  background-color: #f5f6f9;
  ion-text {
    padding-left: 10px;
    font-weight: bolder;
  }
}

ion-icon {
  color: var(--main-color);
}

.ion-text-button {
  --color: var(--main-color);
}
