<ion-header>
  <ion-toolbar>
    <ion-title> iMATter </ion-title>
    <ion-buttons slot="end">
      <ion-button (click) ="updateProfileClicks()" [routerLink]="['/profile']">
        <ion-icon class="color-icon" slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar class="emotion-toolbar">
  <ion-text class="ion-padding-horizontal"> Currently I am feeling: {{user.currentEmotion}} </ion-text>

  <ion-row class="ion-justify-content-center">
    <ion-col size="1.5">
      <ion-button [class.highlight]="this.user.currentEmotion == 'excited'"
                  size = "small" fill = "clear" (click)="saveEmotion('excited')">
        🤗
      </ion-button>
    </ion-col>
    <ion-col size="1.5">
    <ion-button [class.highlight]="this.user.currentEmotion == 'happy'" size = "small" fill = "clear" (click)="saveEmotion('happy')">
        😃
      </ion-button>
    </ion-col>
    <ion-col size="1.5">
    <ion-button [class.highlight]="this.user.currentEmotion == 'loved'" size = "small" fill = "clear" (click)="saveEmotion('loved')">
        🥰
      </ion-button>
    </ion-col>
    <ion-col size="1.5">
    <ion-button [class.highlight]="this.user.currentEmotion == 'indifferent'" size = "small" fill = "clear" (click)="saveEmotion('indifferent')">
        😐
      </ion-button>
    </ion-col>
    <ion-col size="1.5">
      <ion-button [class.highlight]="this.user.currentEmotion == 'overwhelmed'" size = "small" fill = "clear"(click)="saveEmotion('overwhelmed')">
        😩
      </ion-button>
    </ion-col>
    <ion-col size="1.5">
    <ion-button [class.highlight]="this.user.currentEmotion == 'sad'" size = "small" fill = "clear" (click)="saveEmotion('sad')">
        😢
      </ion-button>
    </ion-col>
    <ion-col size="1.5">
    <ion-button [class.highlight]="this.user.currentEmotion == 'angry'" size = "small" fill = "clear" (click)="saveEmotion('angry')">
        😡
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>  
    <ion-card>
      <img [src]="pregnancyCard.picture" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Baby Update: {{user.totalDaysPregnant}} Days</ion-card-subtitle>
        <ion-card-title> {{ user.weeksPregnant }} Weeks and {{ user.daysPregnant }} Days </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> {{pregnancyCard.description}} </p>
      </ion-card-content>
    </ion-card>

  <ion-card (click)="expandItem(drop)" *ngFor="let drop of dropDown">
    <ion-card-header>
      <ion-card-title>Recent Notifications</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <app-expandable expandHeight="expandSize" [expanded]="drop.expanded">
        <div>
          <ion-button fill="clear"(click)="clearArray()" >clear</ion-button>
          <ion-icon (click)="refreshList()" id="refresh" name="md-refresh-circle" slot="end"></ion-icon>
        </div>
        <div *ngFor="let notif of user.recentNotifications">
          <ion-card id="rec-notif-card" (click)="goToPage(notif)">
            {{notif.split(",")[0]}}
          </ion-card>
        </div>
      </app-expandable>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-padding-horizontal">
      Learning Center
    </ion-card-title>
    <ion-card-content>
      The learning center offers modules you can take to learn and earn points.
    </ion-card-content>
    <ion-item class="text-button" button [routerLink]="['/tabs/home/learning-center']"  (click)= "updateLModuleClicks()"     >
      Go to Learning Center
      <ion-icon md="md-arrow-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-padding-horizontal">
      Surveys
    </ion-card-title>
    <ion-card-content>
	  Surveys are a way to provide useful information and help earn points
    </ion-card-content>
    <ion-item class="text-button" button [routerLink]="['/tabs/home/available']"  (click)= "updateSurveyClicks()"     >
      Go to your surveys
      <ion-icon md="md-arrow-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-card>



</ion-content>
