<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="ion-text-right" (click)="toggleDarkTheme()">
                <ion-icon name="moon" id="darkMode"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title> iMATter</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="updateProfileClicks()" [routerLink]="['/profile']">
                <ion-icon class="color-icon" slot="icon-only" name="person"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-header>
    <ion-toolbar class="emotion-toolbar">
        <ion-text class="ion-padding-horizontal"> Currently I am feeling: {{user.currentEmotion}} </ion-text>

        <ion-row class="ion-justify-content-center">
            <!--            <ion-col size="2">-->
            <!--                <ion-button [class.highlight]="this.user.currentEmotion == 'excited'"-->
            <!--                            size="small" fill="clear" (click)="saveEmotion('excited')">-->
            <!--                    🤗-->
            <!--                </ion-button>-->
            <!--                <p>EXCITED</p>-->
            <!--            </ion-col>-->
            <ion-col size="2">
                <ion-button [class.highlight]="this.user.currentEmotion == 'happy'" size="small" fill="clear"
                            (click)="saveEmotion('happy')">
                    😃
                </ion-button>
                <p>HAPPY</p>
            </ion-col>
            <ion-col size="2">
                <ion-button [class.highlight]="this.user.currentEmotion == 'loved'" size="small" fill="clear"
                            (click)="saveEmotion('loved')">
                    🥰
                </ion-button>
                <p>LOVED</p>
            </ion-col>
            <ion-col size="2">
                <ion-button [class.highlight]="this.user.currentEmotion == 'ok'" size="small" fill="clear"
                            (click)="saveEmotion('ok')">
                    😐
                </ion-button>
                <p>OK</p>
            </ion-col>
            <ion-col size="2">
                <ion-button [class.highlight]="this.user.currentEmotion == 'stressed'" size="small" fill="clear"
                            (click)="saveEmotion('stressed')">
                    😩
                </ion-button>
                <p>STRESSED</p>
            </ion-col>
            <ion-col size="2">
                <ion-button [class.highlight]="this.user.currentEmotion == 'sad'" size="small" fill="clear"
                            (click)="saveEmotion('sad')">
                    😢
                </ion-button>
                <p>SAD</p>
            </ion-col>
            <ion-col size="2">
                <ion-button [class.highlight]="this.user.currentEmotion == 'angry'" size="small" fill="clear"
                            (click)="saveEmotion('angry')">
                    😡
                </ion-button>
                <p>ANGRY</p>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-card-header>
            <ion-card-title> Congratulations! You have been in recovery for: {{daysInRecovery}} Days</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p> {{pregnancyCard.description}} </p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-title class="ion-padding-horizontal">
        </ion-card-title>
        <ion-card-content>
            <img src="{{quoteCard.picture}}" alt="couldn't load">
        </ion-card-content>
    </ion-card>

    <ng-container *ngFor="let challenge of (challenges|async)">
        <ion-card *ngIf="challengeJoined(challenge.id) && !daysComplete[challenge.id]" id="card{{challenge.id}}">
            <ion-card-title class="ion-padding"
                            [routerLink]="['/habit', challenge.id]">{{challenge.title}}</ion-card-title>
            <ion-card-subtitle class="ion-padding" style="padding-top: 0">
                <b>{{challenge.contents[challengeProgress[challenge.id]].title}}</b>: {{challenge.contents[challengeProgress[challenge.id]].activity}}

            </ion-card-subtitle>
            <ion-card-content>
                <div class="ion-float-right">
                    DONE
                    <ion-checkbox id="{{challenge.id}}" (click)="completeDay(challenge.id)"
                                  style="font-size: 0.8em"
                                  checked="{{daysComplete[challenge.id]}}">
                    </ion-checkbox>
                </div>
            </ion-card-content>
        </ion-card>
    </ng-container>

    <!--ion-card (click)="expandItem(drop)" *ngFor="let drop of dropDown">
        <ion-card-header>
            <ion-card-title>Recent Notifications</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <app-expandable expandHeight="expandSize" [expanded]="drop.expanded">
                <div>
                    <ion-button fill="clear" (click)="clearArray()">clear</ion-button>
                    <ion-icon (click)="refreshList()" id="refresh" name="md-refresh-circle" slot="end"></ion-icon>
                </div>
                <div *ngFor="let notif of user.recentNotifications">
                    <ion-card id="rec-notif-card" (click)="goToPage(notif)">
                        {{notif.split(",")[0]}}
                    </ion-card>
                </div>
            </app-expandable>
        </ion-card-content>
    </ion-card>-->

    <ion-card>
        <ion-card-title class="ion-padding-horizontal">
            Build Healthy Habits
        </ion-card-title>
        <ion-card-content>
            Join one (or several!) of these challenges that range from 5-30 days to build a new healthy habit.
        </ion-card-content>
        <ion-item class="text-button" button [routerLink]="['/tabs/home/habits']">
            Go to Habits
            <ion-icon md="md-arrow-forward" slot="end"></ion-icon>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-card-title class="ion-padding-horizontal">
            Information Desk
        </ion-card-title>
        <ion-card-content>
            The information desk allows you to ask health professional questions. You can also view commonly asked
            questions.
        </ion-card-content>
        <ion-item class="text-button" button [routerLink]="['/tabs/home/forum']" (click)="updateInfoClicks()">
            Go to Information Desk
            <ion-icon md="md-arrow-forward" slot="end"></ion-icon>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-card-title class="ion-padding-horizontal">
            Surveys
        </ion-card-title>
        <ion-card-content>
            Surveys are a way to provide useful information and help earn points
        </ion-card-content>
        <ion-item class="text-button" button [routerLink]="['/tabs/home/available']" (click)="updateSurveyClicks()">
            Go to your surveys
            <ion-icon md="md-arrow-forward" slot="end"></ion-icon>
        </ion-item>
    </ion-card>

</ion-content>
