<ion-header>
    <ion-toolbar style="padding: 10px">
        <ion-buttons slot="start">
            <ion-button class="ion-text-right" (click)="toggleDarkTheme()">
                <img style="max-width: 30px;" src="../../../assets/logo.png">
            </ion-button>
        </ion-buttons>
        <ion-title>
            <div style="font-size: 80%;">
                {{user.username.toUpperCase()}}
            </div>
            <hr style="background-color: var(--tertiary-color); margin: 0; opacity: 25%;">
            <div style="font-size: 0.4em;">
                Days Sober: {{daysInRecovery}}
            </div>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="profilePic" (click)="updateProfileClicks()" [routerLink]="['/profile']">
                <img class="profilePic" src="{{ user.profilePic }}">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="emotion-toolbar">
        <ion-row class="ion-justify-content-center">
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'happy'" size="small"
                    fill="clear" (click)="saveEmotion('happy')">
                    😃
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'loved'" size="small"
                    fill="clear" (click)="saveEmotion('loved')">
                    🥰
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'ok'" size="small"
                    fill="clear" (click)="saveEmotion('ok')">
                    😐
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'stressed'"
                    size="small" fill="clear" (click)="saveEmotion('stressed')">
                    😩
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'tired'" size="small"
                    fill="clear" (click)="saveEmotion('tired')">
                    😴
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'sad'" size="small"
                    fill="clear" (click)="saveEmotion('sad')">
                    😢
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'lonely'" size="small"
                    fill="clear" (click)="saveEmotion('lonely')">
                    😔
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'angry'" size="small"
                    fill="clear" (click)="saveEmotion('angry')">
                    😡
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <!-- <ion-card>
        <ion-card-header>
            <ion-card-title style="font-size: medium; text-align: center;"> Congrats! You are on recovery day
                {{daysInRecovery}}!
            </ion-card-title>
        </ion-card-header>
    </ion-card> -->

    <ion-card>
        <ion-card-content style="padding: 0;">
            <img src={{quoteCard.picture}} alt="couldn't load" style="margin: 0;">
        </ion-card-content>
    </ion-card>

    <ion-button *ngIf="user.joinedChallenges.length == 0" color="primary" expand="full" [routerLink]="['/tabs/habits']">
        Sign
        Up for a Challenge<ion-icon style="color: white;" name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-item-divider *ngIf="user.joinedChallenges.length > 0" class="custom-divider"
        (click)="collpaseChallenges = !collpaseChallenges">
        <ion-label>
            ACTIVE CHALLENGES&nbsp;
        </ion-label>
        <ng-container slot=end *ngFor="let challenge of (challenges|async)">
            <div>
                <img class="challengeThumbnails" *ngIf="challengeJoined(challenge.id) && daysComplete[challenge.id]"
                    src="{{challenge.coverPicture}}">
                <img class="challengeThumbnails toDo"
                    *ngIf="challengeJoined(challenge.id) && !daysComplete[challenge.id]"
                    src="{{challenge.coverPicture}}">
            </div>
        </ng-container>
        <ion-icon *ngIf="collpaseChallenges" slot="end" color=white name="arrow-dropdown"></ion-icon>
        <ion-icon *ngIf="!collpaseChallenges" slot="end" color=white name="arrow-dropup"></ion-icon>
    </ion-item-divider>

    <ion-list class="notifList" *ngIf="!collpaseChallenges && user.joinedChallenges.length > 0">
        <ng-container *ngFor="let challenge of (challenges|async)">
            <ion-card id="card{{challenge.id}}" class="notifCard" *ngIf="challengeJoined(challenge.id)">
                <ion-card-title class="ion-padding" [routerLink]="['/tabs/home/viewChallenge', challenge.id]">{{challenge.title}}
                    <ion-icon *ngIf="!daysComplete[challenge.id] " name="arrow-forward" size=small
                        class="ion-float-right" [routerLink]="['/tabs/home/viewChallenge', challenge.id]"></ion-icon>
                    <ion-icon *ngIf="daysComplete[challenge.id] " name="checkmark" size=small class="ion-float-right"
                    [routerLink]="['/tabs/home/viewChallenge', challenge.id]"></ion-icon>
                </ion-card-title>
                <!-- <ion-card-subtitle class="ion-padding" style="padding-top: 0">
                    <b>{{challenge.contents[challengeProgress[challenge.id]].title}}</b>:
                    {{challenge.contents[challengeProgress[challenge.id]].activity}}

                </ion-card-subtitle> -->
                <!-- <ion-card-subtitle>
                    <div class="ion-float-right" style="font-size: 2em">
                        <ion-icon name="arrow-forward" [routerLink]="['/habit', challenge.id]"></ion-icon>
                    </div>
                </ion-card-subtitle> -->
            </ion-card>
            <!-- <ion-card *ngIf="challengeJoined(challenge.id) && daysComplete[challenge.id]">
                <ion-card-title class="ion-padding" [routerLink]="['/habit', challenge.id]">{{challenge.title}}
                </ion-card-title>
                <!-- <ion-card-subtitle class="ion-padding" style="padding-top: 0">
                    You completed today's task! Come back tomorrow for a new challenge.
                </ion-card-subtitle> -->
            <!-- </ion-card> -->
        </ng-container>
    </ion-list>


    <ion-button *ngIf='userSurveys.length == 0' color="success" expand="full">Check back later for new surveys!
    </ion-button>
    <ion-item-divider *ngIf='userSurveys.length > 0' class="custom-divider"
        (click)="collapseSurveys = !collapseSurveys">
        <ion-label style="color: white;">
            AVAILABLE SURVEYS
        </ion-label>
        <ion-icon *ngIf="collapseSurveys" slot="end" color=white name="arrow-dropdown"></ion-icon>
        <ion-icon *ngIf="!collapseSurveys" slot="end" color=white name="arrow-dropup"></ion-icon>
    </ion-item-divider>

    <ion-list class="notifList" *ngIf="!collapseSurveys && userSurveys.length > 0">
        <ng-container *ngFor="let survey of (surveys|async)">
            <ion-card class="notifCard" *ngIf="userSurveys.includes(survey.id)" (click)="answerSurvey(survey)">
                <ion-card-title class="ion-padding">
                    {{survey.title}} <span style="font-size: 0.5em; opacity: 100%;">{{survey.points}} points</span>
                    <ion-icon class="ion-float-right" size=small name="arrow-forward"></ion-icon>
                </ion-card-title>
                <!-- <ion-card-content>{{survey.description}}</ion-card-content> -->
                <!-- <ion-card-subtitle class="ion-padding-horizontal ion-padding-bottom"><b>Points: {{survey.points}}</b>
                    <div class="ion-float-right" style="font-size: 2em">
                        <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                </ion-card-subtitle> -->
            </ion-card>
        </ng-container>
    </ion-list>
    <ion-card style="background-color: rgba(26, 87, 115, .1);">
        <ion-card-content>
            Tip of the Day: Try journaling. Feeling anxious?
            Take a trip down memory lane and do some coloring
            for about 20 minutes to help you clear your mind.
            Pick a design that's geometric and a little complicated
            for the best effect. Check out hundreds of free printable
            coloring pages online.
        </ion-card-content>
    </ion-card>
</ion-content>


<div class="emotionOverlay" padding [hidden]="emotionHidden" *ngIf="!emotionHidden">
    <ion-toolbar class="emotion-toolbar">
        <ion-row class="ion-justify-content-center">
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'happy'" size="small"
                    fill="clear" (click)="saveEmotion('happy')">
                    😃
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'loved'" size="small"
                    fill="clear" (click)="saveEmotion('loved')">
                    🥰
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'ok'" size="small"
                    fill="clear" (click)="saveEmotion('ok')">
                    😐
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'stressed'"
                    size="small" fill="clear" (click)="saveEmotion('stressed')">
                    😩
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'tired'" size="small"
                    fill="clear" (click)="saveEmotion('tired')">
                    😴
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'sad'" size="small"
                    fill="clear" (click)="saveEmotion('sad')">
                    😢
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'sad'" size="small"
                    fill="clear" (click)="saveEmotion('lonely')">
                    😔
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-no-padding" [class.highlight]="this.user.currentEmotion == 'angry'" size="small"
                    fill="clear" (click)="saveEmotion('angry')">
                    😡
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</div>