<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="userType == 'user'">
      {{ this.user.username }}'s Profile
    </ion-title>
    <ion-title *ngIf="userType == 'provider'">
      {{ this.provider.username }}'s Profile
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="ion-text-button" (click)="goBackToPost()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="userType == 'user'; else ElseBlock">
    <ion-img src="{{ user.profilePic }}"></ion-img>
    <ion-card-title padding-horizontal>
      {{ user.username }}
    </ion-card-title>
    <ion-card-subtitle padding-horizontal>
      Due in: {{ user.cohort }}
    </ion-card-subtitle>
    <ion-card-subtitle padding-horizontal>
      Currently feeling: {{ user.currentEmotion }}
    </ion-card-subtitle>
    <ion-card-content>
      {{ user.bio }}
    </ion-card-content>
  </ion-card>

  <ng-template #ElseBlock>
    <ion-card>
      <ion-img src="{{ provider.profilePic }}"></ion-img>
      <ion-card-title padding-horizontal>
        {{ provider.username }}
      </ion-card-title>
      <ion-card-subtitle padding-horizontal>
        {{ provider.providerType }}
      </ion-card-subtitle>
      <ion-card-content>
        {{ provider.bio }}
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
