<ion-header>
  <ion-toolbar>
    <ion-buttons slot=start>
    <ion-back-button class="text-button"  defaultHref="/learning-center"></ion-back-button>
  </ion-buttons>
    <ion-title class="ion-text-wrap">{{learningModule.moduleTitle}} Module</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="clearStorage()" color="danger">CLEAR STORAGE</ion-button>
  
  <ion-card>

    <ion-card-header color="medium">{{learningModule.moduleContent}}</ion-card-header>

    <ion-item>
      <div id="player{{learningModule.id}}"></div>
    </ion-item>

    <ion-item *ngIf="sanitizedPPTurl" lines="none">
      <iframe [src]="sanitizedPPTurl" allowfullscreen></iframe> 
    </ion-item>

</ion-card>
 
<ion-card *ngIf="videoHasEnded == true || sanitizedPPTurl">
  <ion-card-header color="medium">Questions</ion-card-header>  
  <form [formGroup]="quizForm">
    <ion-list>
      <ion-radio-group (ionChange)="quizRadioChange(quizQuestion.questionText, $event)" 
      *ngFor="let quizQuestion of ( learningModule.moduleQuiz )"
      formControlName="quizSelections">
        <ion-list-header>
          <ion-label class="ion-text-wrap">{{quizQuestion.questionText}} - {{quizQuestion.pointsWorth}} point(s)</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label class="ion-text-wrap">{{quizQuestion.choice1}}</ion-label>
          <ion-radio slot="start" value="{{quizQuestion.choice1}}" [disabled]="didSubmit"></ion-radio>
        </ion-item>

        <ion-item *ngIf="quizQuestion.choice2">
          <ion-label class="ion-text-wrap">{{quizQuestion.choice2}}</ion-label>
          <ion-radio slot="start" value="{{quizQuestion.choice2}}" [disabled]="didSubmit"></ion-radio>
        </ion-item>

        <ion-item *ngIf="quizQuestion.choice3">
          <ion-label class="ion-text-wrap">{{quizQuestion.choice3}}</ion-label>
          <ion-radio slot="start" value="{{quizQuestion.choice3}}" [disabled]="didSubmit"></ion-radio>
        </ion-item>

        <ion-item *ngIf="quizQuestion.choice4">
          <ion-label class="ion-text-wrap">{{quizQuestion.choice4}}</ion-label>
          <ion-radio slot="start" value="{{quizQuestion.choice4}}" [disabled]="didSubmit"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </form>

  <ion-button class="submit-button" [disabled]="didSubmit" (click)="quizSubmit()">Submit</ion-button>
  <ion-button *ngIf="didSubmit === true && numberTimesQuizTaken < quizSubmissionLimit" (click)="retakeQuiz()">Retake Quiz</ion-button>

  <ion-card *ngIf="numberTimesQuizTaken > 0">

    <ion-card-title>
      Quiz Results: {{numberQuestionsCorrect}} out of {{totalNumberQuizQuestions}} questions correct
    </ion-card-title>
    <ion-card-subtitle>
      Number of Attempts: {{numberTimesQuizTaken}} out of {{quizSubmissionLimit}}
    </ion-card-subtitle>

    <ion-card-content *ngIf="numberQuestionsCorrect > 0"> Questions Correct:
      <ng-container *ngFor="let question of correctQuestions">{{question}}<br></ng-container>
    </ion-card-content>

    <ion-card-content>
      You've earned {{currentQuizPoints}} points for this module
    </ion-card-content>

  </ion-card>

</ion-card>

<ion-button class="fill-button ion-text-wrap" [routerLink]="['/learning-module-content', learningModule.moduleNext]" 
  *ngIf="numberTimesQuizTaken > 0 && learningModule.moduleNext" 
  expand="block">Next Module - {{nextModuleTitle}}</ion-button>

</ion-content>
