<ion-header>
  <ion-toolbar>
    <ion-buttons slot=start>
    <ion-back-button class="ion-text-button"  defaultHref="/learning-center"></ion-back-button>
  </ion-buttons>
    <ion-title>{{learningModule.moduleTitle}} Module</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="clearStorage()" color="danger">CLEAR STORAGE</ion-button>
  
  <ion-card>

    <ion-card-header color="medium">{{learningModule.moduleContent}}</ion-card-header>

    <ion-item>
      <div id="player{{learningModule.id}}"></div>
    </ion-item>

    <ion-item *ngIf="sanitizedPPTurl" lines="none">
      <iframe [src]="sanitizedPPTurl" allowfullscreen></iframe> 
    </ion-item>

</ion-card>
 
<ion-card *ngIf="videoHasEnded == true || sanitizedPPTurl">
  <ion-card-header color="medium">Questions</ion-card-header>
  <ion-list>
    <ion-radio-group (ionChange)="quizRadioChange(quizQuestion.questionText, $event)" *ngFor="let quizQuestion of ( learningModule.moduleQuiz )">
      <ion-list-header>
        <ion-label text-wrap>{{quizQuestion.questionText}}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label text-wrap>{{quizQuestion.choice1}}</ion-label>
        <ion-radio slot="start" value="{{quizQuestion.choice1}}"></ion-radio>
      </ion-item>

      <ion-item *ngIf="quizQuestion.choice2">
        <ion-label text-wrap>{{quizQuestion.choice2}}</ion-label>
        <ion-radio slot="start" value="{{quizQuestion.choice2}}"></ion-radio>
      </ion-item>

      <ion-item *ngIf="quizQuestion.choice3">
        <ion-label text-wrap>{{quizQuestion.choice3}}</ion-label>
        <ion-radio slot="start" value="{{quizQuestion.choice3}}"></ion-radio>
      </ion-item>

      <ion-item *ngIf="quizQuestion.choice4">
        <ion-label text-wrap>{{quizQuestion.choice4}}</ion-label>
        <ion-radio slot="start" value="{{quizQuestion.choice4}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button class="submit-button" (click)="quizSubmit()">Submit</ion-button>

  <ion-card *ngIf="numberTimesQuizTaken > 0">
    <ion-card-header color="success">
      Quiz Score: {{numberQuestionsCorrect}} out of {{totalNumberQuizQuestions}}    
    </ion-card-header>
    <ion-card-content>Number of Attempts: {{numberTimesQuizTaken}} out of {{quizSubmissionLimit}}</ion-card-content>
  </ion-card>

</ion-card>

<ion-button class="submit-button" [routerLink]="['/learning-module-content', learningModule.moduleNext]" *ngIf="numberTimesQuizTaken > 0 && learningModule.moduleNext" expand="block">Next Module</ion-button>

</ion-content>
