<ion-header>
  <ion-toolbar>
    <ion-title>About iMATter</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="ion-text-button" defaultHref="/tabs/more"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h6> What is iMATter?</h6>
  <p> iMATter is an app that offers a ranges of supportive features for women in opioid recovery to maintain a social
    network, ask for advice from peers, and engage in fun challenges and ways to stay positive as you continue
    your recovery journey. </p><br>

  <p> iMATter provides a supportive safety net for mothers in similar situations
    by creating an online community, supporting a safe and shame free
    sisterhood of mothers facing the same challenges.</p>


</ion-content>
<ion-footer>
  <h6 class="ion-padding">App Version: 5.0</h6>
  <h6 class="ion-padding">Platform: {{platform}}</h6>
  <h6 class="ion-padding">Device Model: {{model}}</h6>
  <h6 class="ion-padding">Android Version: {{osVersion}}</h6>
</ion-footer>