<ion-content padding>

  <form *ngIf="enterCodeForm" [formGroup]="enterCodeForm" >
    <ion-item>
      <ion-label position="stacked">Code</ion-label>
      <ion-input
			  formControlName="recoveryCode"
              type="recoveryCode"
              type="text"
              placeholder="Enter your code"
              
      >
      </ion-input>
	  <ion-input
			  formControlName="recoveryPassword"
              type="password"
              placeholder="Enter the new password"
              [class.invalid]="!enterCodeForm.controls['recoveryPassword'].valid && enterCodeForm.controls['recoveryPassword'].touched"
      >
      </ion-input>
    </ion-item>
   <ion-item class="error-message" *ngIf="!enterCodeForm.controls['recoveryPassword'].valid && enterCodeForm.controls['recoveryPassword'].touched">
      <ion-label>Please enter an 8 character password</ion-label>
    </ion-item>

    <ion-button class="fill-button"
            expand="block"
			(click)="validateUser(enterCodeForm)"
			[disabled]="!enterCodeForm.valid"
    >
      Enter
    </ion-button>
  </form>
</ion-content>
