<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="challengeView == 'all' || challengeView == 'joined'">Healthy Habits</ion-title>
        <ion-title *ngIf="challengeView != 'all' && challengeView != 'joined'">{{this.challengeView}}</ion-title>
        <ion-buttons slot="start">
            <ion-button *ngIf="challengeView != 'all' && challengeView != 'joined'"
                        class="text-button"
                        (click)="this.challengeView = 'all'"
                        style="font-size: 0.8em">
                <ion-icon name="arrow-back" style="font-size: 24px"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-row id="viewPicker" *ngIf="challengeView == 'all' || challengeView == 'joined'">
    <ion-col style="padding: 0">
        <ion-buttons id="allChallenges" class="text-button selected" style="justify-content: center">
            <ion-button style="text-align: center">
                <ion-button class="text-button" (click)="this.challengeView = 'all'"> All Challenges</ion-button>
            </ion-button>
        </ion-buttons>
    </ion-col>
    <ion-col style="padding: 0">
        <ion-buttons id="myChallenges" class="text-button" style="justify-content: center">
            <ion-button style="text-align: center">
                <ion-button class="text-button" (click)="ionViewWillEnter(); this.challengeView = 'joined';"> My Challenges</ion-button>
            </ion-button>
        </ion-buttons>
    </ion-col>
</ion-row>

<!-- Show all challenges -->
<ion-content *ngIf="challengeView == 'all'">
    <ion-list>
        
        <div class="challenge-grid">
            <ng-container *ngFor="let type of ( types | async )">
                
                <div class="" *ngIf="type.active" >
                    <ion-card (click)="challengeView = type.type" class="ion-margin">
                        <ion-card-title class="ion-padding">
                            {{type.type}}
                        </ion-card-title>
                        <ion-card-content style="padding:0"> <img src="{{type.picture}}" ></ion-card-content>
                    </ion-card>
                </div>
                
            </ng-container>
        </div>

        
    </ion-list>
</ion-content>

<!-- Show my challenges -->
<ion-content *ngIf="challengeView == 'joined'">
    <ion-item-divider>
        <ion-label>
            Active Challenges
        </ion-label>
    </ion-item-divider>
    <ion-list>
        <ng-container *ngFor="let challenge of ( challenges | async )">
            <ion-card *ngIf="challengeJoined(challenge.id)" button [routerLink]="['/habit', challenge.id]" [ngClass]="challenge.id">
                <ion-card-title class="ion-padding-horizontal ion-padding-top">
                    {{challenge.title}}
                </ion-card-title>
                <ion-card-subtitle>
                    <div class="ion-float-right" style="padding: 0 5px 5px 0">{{challenge.length}} days</div>
                </ion-card-subtitle>
            </ion-card>
        </ng-container>
    </ion-list>
    <ion-item-divider>
        <ion-label>
            Completed Challenges
        </ion-label>
    </ion-item-divider>
    <ion-list>
        <ng-container *ngFor="let challenge of ( challenges | async )">
            <ion-card *ngIf="challengeFinished(challenge.id)" button [routerLink]="['/habit', challenge.id]"
                      [ngClass]="challenge.id">
                <ion-card-title class="ion-padding">{{challenge.title}}</ion-card-title>
                <ion-card-subtitle>
                    <div class="ion-float-right" style="padding: 0 5px 5px 0">{{challenge.length}} days</div>
                </ion-card-subtitle>
                <ion-card-content>
                        <ng-container *ngFor="let completed of (completedChallenges)">
                            <div *ngIf="completed.challenge === challenge.id" style="font-size: 0.8em">
                                {{completed.dateFinished}}
                            </div>
                        </ng-container>
                </ion-card-content>
            </ion-card>
        </ng-container>
    </ion-list>
</ion-content>

<!-- Not sure what this html is for, challengeView is assigned all once and never changed inside challenge.page.ts-->
<ion-content *ngIf="challengeView != 'all' && challengeView != 'joined'">
    <ion-list>
        <ng-container *ngFor="let challenge of ( challenges | async )">
            <ion-card button [routerLink]="['/habit', challenge.id]" *ngIf="challenge.type == challengeView" [ngClass]="challenge.id">
                <ion-card-title class="ion-padding-horizontal ion-padding-top">
                    <ion-row>
                        <ion-thumbnail *ngIf="challenge.icon != '' && challenge.icon != undefined">
                            <ion-img src="{{challenge.icon}}"></ion-img>
                        </ion-thumbnail>
                        {{challenge.title}}
                    </ion-row>
                </ion-card-title>
                <ion-card-subtitle>
                    <div class="ion-float-right" style="padding: 0 5px 5px 0">{{challenge.length}} days</div>
                </ion-card-subtitle>
            </ion-card>
        </ng-container>
    </ion-list>
</ion-content>

