<ion-header>
    <ion-toolbar>
        <ion-title>Habits</ion-title>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="challengeView == 'all' || challengeView == 'joined'" class="text-button" defaultHref="/tabs/home"></ion-back-button>
            <ion-button *ngIf="challengeView != 'all' && challengeView != 'joined'"
                        class="text-button"
                        (click)="this.challengeView = 'all'"
                        style="font-size: 0.8em">
                <ion-icon name="arrow-back" style="font-size: 24px"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-row id="viewPicker">
    <ion-col style="padding: 0">
        <ion-buttons id="allChallenges" class="text-button selected" style="justify-content: center">
            <ion-button style="text-align: center">
                <ion-button class="text-button" (click)="this.challengeView = 'all'"> All Challenges</ion-button>
            </ion-button>
        </ion-buttons>
    </ion-col>
    <ion-col style="padding: 0">
        <ion-buttons id="myChallenges" class="text-button" style="justify-content: center">
            <ion-button style="text-align: center">
                <ion-button class="text-button" (click)="this.challengeView = 'joined'"> My Challenges</ion-button>
            </ion-button>
        </ion-buttons>
    </ion-col>
</ion-row>

<ion-content *ngIf="challengeView == 'all'">
    <ion-list>
        <ng-container *ngFor="let type of ( types | async )">
            <ion-card (click)="challengeView = type.type">
                <ion-card-title class="ion-padding">{{type.type}}</ion-card-title>
                <ion-card-content style="padding:0"><img src="{{type.picture}}"></ion-card-content>
            </ion-card>
        </ng-container>
    </ion-list>
</ion-content>

<ion-content *ngIf="challengeView == 'joined'">
    <ion-list>
        <ng-container *ngFor="let challenge of ( challenges | async )">
            <ion-card *ngIf="challengeJoined(challenge.id)" button [routerLink]="['/habit', challenge.id]" [ngClass]="challenge.id">
                <ion-card-title class="ion-padding">{{challenge.title}}</ion-card-title>
            </ion-card>
        </ng-container>
    </ion-list>
</ion-content>

<ion-content *ngIf="challengeView != 'all' && challengeView != 'joined'">
    <ion-list>
        <ng-container *ngFor="let challenge of ( challenges | async )">
            <ion-card button [routerLink]="['/habit', challenge.id]" *ngIf="challenge.type == challengeView" [ngClass]="challenge.id">
                <ion-card-title class="ion-padding">{{challenge.title}}</ion-card-title>
            </ion-card>
        </ng-container>
    </ion-list>
</ion-content>

