<ion-row>
  <ion-col>
    <ion-row *ngFor="let review of visibleReviewsArray; let i=index">

      <ng-container *ngIf="i < showNReviews">
        <ion-col>
          <ion-card>
            <ion-card-header class="ion-no-padding review-card-header-pad">
        
              <ion-card-title class="review-sub-line"> 
                {{review.reviewSubject}}
              </ion-card-title>
        
              <ion-card-subtitle>
                <div id="review-card-star-container" class="dis-flex" >
                  <ion-icon *ngFor="let num of starArray" id="star-1" [attr.name]="num <= review.reviewRating ? 'star' : 'star-outline'" size="small"></ion-icon>
                  <span>  -  {{review.reviewDate.toDate() | date: 'yyyy-MM-dd' }}</span> <!-- Timestamps returned from fire store are not dates so we must convert the timestamp to a date with toDate() before giving the date to the date pipe.-->
                </div> 
        
                
        
               </ion-card-subtitle>
        
            </ion-card-header>
          
            <ion-card-content>

             
              <div #reviewTextContainer [class.minimized-review-text]="checkForReviewOverflow(reviewTextContainer)"> {{review.reviewText}}</div>
             
              

              <div class="flex-row-end">
                Show More...
              </div>
        
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ng-container>
      
      
    </ion-row>
  </ion-col>
</ion-row>



<ion-item *ngIf="reviewDocArray.length === 0"> No Reviews To Show </ion-item>

<ion-button *ngIf="reviewDocArray.length != 0" (click)="toggleShowNReviews()"> {{showReviewButtonText}} </ion-button>




<ion-row>
  <ion-col> 
    <ion-infinite-scroll threshold="2px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more reviews...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  
  </ion-col>
</ion-row>
