<ion-row>
  <ion-col>
    
    
    <ion-list id="review-list">
      
    </ion-list>
    
    
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  
  </ion-col>
</ion-row>

<!--
  <ion-row *ngFor="let review of getReviewsObs | async">
  </ion-row>
  <ion-chip class="chip-size" color="success">
            <ion-icon size="small" name="paw" color="primary"></ion-icon>
            <ion-label> A Tag </ion-label>
          </ion-chip>
-->