<ion-header>
  <ion-toolbar>    
    <ion-buttons slot="start">
      <ion-back-button class="text-button" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Request Access</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>
              iMatter is an innovative mHealth (mobile health) project aimed at improving long-term outcomes in
        opioid recovery being developed by a research team at Northern Arizona University. iMatter focuses on
        easing the transition from intensive residential treatment back into normal life, providing a safe virtual
        community where women in recovery can provide each other mutual support, receive daily motivations,
        build and maintain positive habits, and have easy access to a wide variety of recovery-related
        information ranging from information on local service providers, anonymous answers to medical
        questions, and much more.  This app is a “beta version” of an experimental app, but we welcome any
        woman in recovery to try it out and give us feedback to improve the app. We would love your help
        making something that *really works* for you!
    </p>
</ion-item>

      <ion-item>
        <p>
          An activation code is required to start using the app, and is absolutely free. To ensure that only women
          on a recovery path enter into the iMatter community, however, women interested in trying it out must
          answer a few questions to establish that they are on a recovery trajectory in order to receive a code. 
          Information provided will be used for verification only and is deleted immediately after. To receive an
          activation code, click the button below, and fill out the intake form; your code will arrive by email soon after.
        </p>
      </ion-item>

      <br><br><br><br><br><br><br><br>

      <ion-footer>        
        <ion-button style="position: fixed; bottom: 10px; width: 100%; left: 0; right: 0;" 
                    size="large" display="inline" type="button" expand="full" (click)="openRequestPage()">Request Access</ion-button>
      </ion-footer>

</ion-content>
